.star {
    font-size: 20px !important;
    color: #FFD43B !important;
    -webkit-text-stroke: 1px #FFD43B !important;
    text-shadow: 1px 1px #FFD43B !important;
}

.rating-container .star {
    margin: 0 2px;
}

.rating-container .rating-stars{
    
    margin-right: 15px;
}

.rating-md .caption {
   position: relative;
}

.rating-md .caption:after{
    position: absolute;
    content: "";
    top: 9px;
    left: 0;
    background-color: #000000;
    height: 22px;
    width: 1px;
}

.rating-container .caption {
    margin-left: 0px;
    margin-right: 0;
}

.rating-container .caption .label {
    display: inline-block;
    padding: 0px;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    border-radius: .25rem;
    padding-top: 12px;
}

.label {
	border: none !important;
}

.rating-md .caption {;
    margin-top: 11px;
}

.main-star-style {
    margin-bottom: 10px;
    margin-top: -18px;
}

.contact-banner {
    padding: 280px 0 89px;
}

.rating {
	position: relative;
	margin-bottom: 20px;
    margin-top: 10px;
	
}
 .star {
	display: inline-block;
    margin: 1px;
    font-size: 22px;
    color: #c5c5c5;
    position: relative;
    line-height: normal;
	cursor: pointer;
}
 .full:before {
	 font-family: fontAwesome;
	 display: inline-block;
	 content: "\f005";
	 position: relative;
	 float: right;
	 z-index: 2;
}
 .half:before {
	 font-family: fontAwesome;
	 content: "\f089";
	 position: absolute;
	 float: left;
	 z-index: 3;
}
 .star-colour {
	 color: #ffd700;
}

.rating .rating-stars-align{
	display: flex;
    align-items: center;
}

.rating .rating-stars{
	margin-right: 20px;
}
.caption span{
	background-color: #fff !important;
}

.rating .rating-stars-align .score{
	width: 34px;
    height: 34px;
    background-color: #39c;
    color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 100%;
    font-size: 13px;
}

/*.form-group-box{
	    max-width: 600px;
}*/

/*new css*/

.client-feedback-form {
    position: relative;
    z-index: 1;
}

.feedback-form-box{
	max-width: 600px;
    margin: 0px auto;
	
}
.form-group-box {
    background-color: #ffffff;
    margin-bottom: 0px;
    border: 1px solid #DDDDDD;
	padding: 20px 50px;
}

.feedback-form-box .form-group .form-control {
    box-shadow: none;
}

.feedback-form-box .form-group label {
    color: #243C58;
	margin-bottom: 5px;
}

.main-star-style {
    justify-content: center;
}

.client-feedback-title img{
	position: static;
	margin-right: 15px;
}

.contact-banner::after {
    background-color: transparent;
}

.client-feedback-form .client-feedback-head {
    padding: 0px 50px;
}

.client-feedback-form .client-feedback-head  p{
	color:#243C58;
}

.client-feedback-form .client-feedback-head p b {
    color: #243C58;
}

.morder-botton-none{
	border-bottom:0px;
}

.label-requird-center{
	justify-content: center;
	text-align: center;
}

.feedback-btn p{
	color: #243C58;
    font-size: 18px;
    margin-bottom: 20px;
}

.margin-cform{
	position: relative;
}


.uploadFile{
	position: relative;
}

.uploadFile input[type=file] {
	display: block;
    left: 0;
    top: 0;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    z-index: 10;
    height: 100%;
    width: auto;
}

.addfile label {
    text-align: left;
    display: inline-block;
    font-size: 16px;
    vertical-align: super;
    padding-left: 10px;
    color: #39c !important;
    margin-top: 0;
	margin-bottom: 0px;
}

span.addfile i{
    font-size: 35px;
    padding-top: 0px;
}

.cform.margin-cform:before {
    content: "";
    position: absolute;
    background-image: url(https://www.biz4group.com/images/home-testimonial-bg.png);
    left: 0;
    top: 178px;
    width: 200px;
    height: 100%;
    background-repeat: no-repeat;
}

.cform.margin-cform:after {
    content: "";
    position: absolute;
    background-image: url(https://www.biz4group.com/images/trusted-border-client-feedback.png);
    right: 0;
    top: 178px;
    width: 200px;
    height: 100%;
    background-repeat: no-repeat;
}

#halfstarsReview i,
#halfstarsReview1 i,
#halfstarsReview2 i,
#halfstarsReview3 i,
#halfstarsReview4 i,
#halfstarsReview5 i{
    margin: 0px 5px;
    width: 30px !important;
    font-size: 30px;
	position: relative;
}

#halfstarsReview i:nth-child(1):after, 
#halfstarsReview1 i:nth-child(1):after, 
#halfstarsReview2 i:nth-child(1):after, 
#halfstarsReview3 i:nth-child(1):after,
#halfstarsReview4 i:nth-child(1):after,
#halfstarsReview5 i:nth-child(1):after{
    content: "Not satisfied";
    position: absolute;
    bottom: -40px;
    width: 150px;
    height: 100%;
    color: #243C58;
    font-size: 11px;
    left: -14px;
    font-weight: normal;
    font-family: Roboto, sans-serif;
}

#halfstarsReview i:nth-child(5):after,
#halfstarsReview1 i:nth-child(5):after, 
#halfstarsReview2 i:nth-child(5):after, 
#halfstarsReview3 i:nth-child(5):after,
#halfstarsReview4 i:nth-child(5):after,
#halfstarsReview5 i:nth-child(5):after{
    content: "Really satisfied";
    position: absolute;
    bottom: -39px;
    width: 150px;
    height: 100%;
    color: #243C58;
    font-size: 11px;
    left: -17px;
    font-weight: normal;
    font-family: Roboto, sans-serif;
}

.main-input-radius {
    border: 3px solid #1a71ab;
    width: 40px;
    height: 40px;
    font-size: 16px;
}
.label{
	border: 3px solid #1a71ab;
    width: 40px;
    height: 40px;
    font-size: 16px;
    color: black;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 25px !important;
}



@media only screen and (max-width: 767px) {
.client-feedback-title h2 {
    font-size: 18px;
}

.client-feedback-title img {
    width: 30px;
}

.client-feedback-form .client-feedback-head {
    padding: 0px 0px;
}

.form-group-box {
    padding: 20px 10px;
}
#halfstarsReview i, #halfstarsReview1 i, #halfstarsReview2 i, #halfstarsReview3 i, #halfstarsReview4 i, #halfstarsReview5 i {
	margin: 0px 7px;
    width: 14px !important;
    font-size: 20px;
}

.feedback-form-box .form-group label {
    font-size: 16px;
}

}

/*client-feedback*/
.client-feedback-header{
	padding: 15px 0px;
}

.client-feedback-header .row{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.client-feedback-header .client-feedback-back-home{}

.client-feedback-header .client-feedback-back-home a{
	color:#2A8DD5;
	font-size:16px;
}

.client-feedback-header .client-feedback-back-home a:hover{
	color:#243c58;
}

.client-feedback-header .client-feedback-back-home a i{}

.client-feedback-header .client-feedback-logo{
	    text-align: right;
}

.client-feedback-header .client-feedback-logo a{}

.client-feedback-header .client-feedback-logo a img{
    width: 140px;
}

.client-feedback-head{
	
}

.client-feedback-head h2{
	font-size: 30px;
    color: #333;
    font-family: Roboto,sans-serif;
    margin-bottom: 20px;
    margin-top: 0px;
}

.client-feedback-head p{
	 margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #707070;
}

.client-feedback-body{
    margin-bottom: 50px;
}

.client-feedback-box-up{
	background-color: #243C58;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    position: relative;
}

.client-feedback-box{
	box-shadow: 0px 10px 20px #00000029;
	padding:40px;
	background-color:#fff;
	position: relative;
    z-index: 1;
}

.client-feedback-box-up:after {
    content: "";
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    position: absolute;
}

.client-feedback-box .form-group{
	margin-bottom:20px;
}

.client-feedback-box .form-group .form-control{
    border: 0px;
    border-bottom: 1px solid #ddd;
    color: #000;
    font-size: 14px;
    background-color: #fff;
    height: 45px;
    outline: none;
    box-shadow: none;
    border-radius: 0px;
	margin-top: 15px;
}

.client-feedback-fileinput{}

.client-feedback-fileinput p{
	color:#000000;
	font-size:16px;
	margin-bottom: 25px;
	
}

.client-feedback-fileinput-box{
	border: 1px dashed #707070;
    padding: 25px;
    text-align: center;
}

.client-feedback-fileinput-box .client-feedback-drop .uploadFile .addfile p{
	margin-bottom:5px;
}

.client-feedback-fileinput-box .client-feedback-drop .uploadFile input[type=file]{
	display: block;
    left: 0;
    top: 0;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
}

.client-feedback-fileinput-box .client-feedback-drop .uploadFile .addfile p img{
	width: 70px;
    margin-right: 0px;
}

.client-feedback-fileinput-box .client-feedback-drop .uploadFile .addfile label {
    text-align: center;
    display: inline-block;
    font-size: 14px;
    vertical-align: super;
    padding-left: 0px;
    color: #000 !important;
    margin-top: 0;
    margin-bottom: 0px;
}

.client-feedback-fileinput-box .client-feedback-orline{
	position: relative;
    width: 150px;
    margin: 10px auto;
}

.client-feedback-fileinput-box .client-feedback-orline span{
	background-color: #fff;
    position: relative;
    z-index: 1;
    padding: 0px 6px;
}

.client-feedback-fileinput-box .client-feedback-orline .client-feedback-orborder{
    border-top: 1px solid #e0e0e0;
    position: absolute;
    top: 12px;
    width: 100%;
    left: 0;
}

.client-feedback-uploadFile .addfile label{
	text-align: center;
    display: inline-block;
    font-size: 13px;
    vertical-align: super;
    padding-left: 10px;
    color: #000000 !important;
    margin-top: 0;
    margin-bottom: 0px;
    background-color: #E4E4E4;
    padding: 10px 15px;
    border-radius: 10px;
}

.client-feedback-rightform{}

.feedback-starbox{
	margin-bottom: 20px;
	
}

.feedback-starbox .feedback-starbox-heading{}

.feedback-starbox .feedback-starbox-heading h5{
	font-weight: 500;
    color: #333;
    font-size: 16px;
	margin: 0px;
	line-height: 22px;
}

.custom-radiokbtn .checkmark {
    height: 20px;
    width: 20px;
    border-radius: 0px;
}

.custom-radiokbtn .checkmark:after {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid #243c58;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/*checkbox*/
.custom-radiokbtn {
    display: block;
    position: relative;
    padding-left: 29px;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
    color: #000;
    margin-bottom: 5px;
    font-weight: normal;
    line-height: normal;
	    margin-right: 15px;
}

.custom-radiokbtn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-radiokbtn .checkmark {
	position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1px solid #b7b1b1;
}


.custom-radiokbtn .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-radiokbtn input:checked ~ .checkmark:after {
  display: block;
}

.custom-radiokbtn .checkmark:after {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid #243c58;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.custom-radio-inline {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.feedback-textarea{
    min-height: 85px;
    border: 1px solid #ddd !important;
    box-shadow: 0px 3px 10px #00000029 !important;
    resize: none;
}

.feedback-submit .feedback-submit-button{
	background-color: #243C58;
    color: #fff;
    font-size: 15px;
    padding: 8px 25px;
    border-radius: 7px;
    border: 0px;
}

.feedback-submit .feedback-submit-button:hover{
	background-color:#304c6d;
}

.feedback-submit{
	text-align: right;
}


.client-feedback-leftform{
	padding-right: 40px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


@media only screen and (max-width: 767px) {
  .client-feedback-header .client-feedback-back-home a {
    color: #2A8DD5;
    font-size: 14px;
}
.client-feedback-header .client-feedback-logo a img {
    width: 100px;
}
.client-feedback-header{
	margin-bottom:20px;
}
.client-feedback-head h2 {
    font-size: 22px;
}

.client-feedback-head p {
    font-size: 14px;
    line-height: 22px;
}

.client-feedback-box-up {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}

.client-feedback-leftform {
    padding-right: 0px;
}

.client-feedback-box {
	padding: 40px 15px;
}

.main-star-style {
    margin-top: 0;
}

.custom-radio-inline {
    margin-top: 15px;
}

.feedback-starbox .feedback-starbox-heading h5 {
    font-size: 14px;
	line-height: 18px;
}

.client-feedback-box-up:after {
	display:none;
}

}

@media screen and (max-width: 991px) and (min-width: 768px){
	.main-star-style {
		margin-top: 0px;
	}
	.custom-radio-inline {
		margin-top: 20px;
	}
}















