//color variables --------
$blue: #7646f4;
$darkBlue: #006cff;
$skyBlue: #00a5ff;
$black: #000;
$white: #fff;
$orange: #ff3e2c;
$yellow: #ffb000;
$gray: #758083;

//font facing style --------
@font-face {
  font-family: SFProRegular;
  src: url(../fonts/SF-Pro-Display-Regular.woff);
}

@font-face {
  font-family: AkrobatLight;
  src: url(../fonts/Akrobat-Light.woff);
}

@font-face {
  font-family: AkrobatRegular;
  src: url(../fonts/Akrobat-Regular.woff);
}

@font-face {
  font-family: AkrobatBold;
  src: url(../fonts/Akrobat-Bold.woff);
}

@font-face {
  font-family: AkrobatExtraBold;
  src: url(../fonts/Akrobat-ExtraBold.woff);
}

p {
  font-family: SFProRegular;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

button {
  font-family: AkrobatBold;
  cursor: pointer;
}

//common color class --------
.colorOrange {
  color: $orange !important;
}

// button style ---------
.main-btn {
  border-radius: 12px;
  padding: 12px 20px;
  border: none;
  transition: 0.4s all;
  &.landing-main-btn {
    background: transparent linear-gradient(101deg, #9e46f4 0%, #6b27f8 100%) 0%
      0% no-repeat padding-box;
    color: $white;
    transition: none;
    &:hover {
      background: $black;
    }
  }
  &.cta-main-btn {
    background-color: $black;
    color: $white;
  }
  &.transparent-main-btn {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
    &:hover {
      background-color: $white;
      color: $orange;
    }
  }
  &.black-outline-btn {
    border: 1px solid $black;
    color: $black;
    &:hover {
      background-color: $black;
      color: $white;
    }
    // background-color: $white;
  }
}

//section one style --------
.ecom-banner-show {
  background: url(../images/ecommerce-landing-image/main-banner.png) no-repeat
    center;
  background-size: cover;
  padding: 160px 0;
  h2 {
    font-family: AkrobatExtraBold;
    color: $blue;
    font-size: 52px;
  }
}

//section three style --------
.cta-main {
  background: url(../images/ecommerce-landing-image/cta-banner.png) no-repeat
    center;
  background-size: cover;
  padding: 64px 0;
  h3 {
    font-family: AkrobatLight;
    font-size: 38px;
    span {
      font-family: AkrobatBold;
    }
  }
  .cta-desc {
    background: transparent linear-gradient(122deg, #ffce4a 0%, #ffb000 100%) 0%
      0% no-repeat padding-box;
    border-radius: 0px 160px 0px 0px;
    padding: 50px;
  }
}

//section four style ----------
.ondemand-main {
  padding: 50px 0;
  h3 {
    color: $orange;
    font-family: AkrobatBold;
    text-align: center;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 70%;
    margin: auto;
    &::after {
      position: absolute;
      content: " ";
      border: 1px dashed rgba($gray, 0.5);
      width: 100%;
      height: 1px;
      z-index: -1;
      top: 66px;
      left: 0;
    }
    li {
      text-align: center;
      img {
        width: 130px;
        height: 130px;
        object-fit: contain;
        border: 8px solid $white;
      }
      p {
        color: $gray;
        font-family: AkrobatBold;
      }
    }
  }
  .ondemand-cta {
    background: transparent linear-gradient(109deg, #fe8e2c 0%, #ff362c 100%) 0%
      0% no-repeat padding-box;
    border-radius: 15px;
    color: $white;
    padding: 10px;
    width: 80%;
    margin: 20px auto;
    img {
      width: 100%;
      object-fit: contain;
    }
    .ondemand-cta-desc {
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 20px;
    }
  }
}

//section five style ---------
.ecom-developer-main {
  position: relative;
  padding: 50px 0;
  &::after {
    position: absolute;
    content: " ";
    top: 0;
    right: 0;
    background-color: #f1f2f2;
    border-radius: 0px 0px 0px 160px;
    width: 72%;
    height: 100%;
    z-index: -1;
  }
  .subsciety-banner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
    }
  }
  .ecom-developer-desc {
    text-align: right;
    h3 {
      font-family: AkrobatExtraBold;
      color: $darkBlue;
      font-size: 36px;
    }
    .ecom-para {
      font-family: AkrobatRegular;
      font-size: 26px;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 10px;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        border-radius: 10px;
        padding: 15px 20px;
        min-height: 72px;
        min-width: 200px;
        &:nth-child(1) {
          background: transparent
            linear-gradient(113deg, #ff88b3 0%, #f55485 100%) 0% 0% no-repeat
            padding-box;
        }
        &:nth-child(2) {
          background: transparent
            linear-gradient(112deg, #00c4ff 0%, #006cff 100%) 0% 0% no-repeat
            padding-box;
        }
        &:nth-child(3) {
          background: transparent
            linear-gradient(113deg, #07ee7b 0%, #0093ff 100%) 0% 0% no-repeat
            padding-box;
        }
        &:nth-child(4) {
          background: transparent
            linear-gradient(293deg, #8c42f5 0%, #eb56ad 100%) 0% 0% no-repeat
            padding-box;
        }
        h5 {
          font-family: AkrobatBold;
          padding: 5px 20px 5px 0;
          margin: 0 20px 0 0;
          border-right: 1px solid $white;
        }
        p {
          font-size: 14px;
          margin: 0;
          text-align: left;
        }
      }
    }
  }
}

//section eight style ---------
.robust-tech-main {
  padding: 50px 0;
  h3 {
    color: $skyBlue;
    font-family: AkrobatBold;
    text-align: center;
  }
  .robust-tech-desc {
    display: flex;
    align-items: center;
    ul {
      flex-flow: column;
      gap: 10px;
      margin-right: 30px;
      border-bottom: none !important;
      li {
        a {
          border: 1px solid $black;
          border-radius: 10px;
          padding: 18px;
          width: 80px;
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          &.active,
          &:hover {
            border-color: $black;
          }
          &.home {
            &.active {
              background: transparent
                linear-gradient(290deg, #8c42f5 0%, #eb56ad 100%) 0% 0%
                no-repeat padding-box;
              border: 1px solid transparent;
            }
          }
          &.menu1 {
            &.active {
              background: transparent
                linear-gradient(133deg, #00c4ff 0%, #006cff 100%) 0% 0%
                no-repeat padding-box;
              border: 1px solid transparent;
            }
          }
          &.menu2 {
            &.active {
              background: transparent
                linear-gradient(135deg, #07ee7b 0%, #0093ff 100%) 0% 0%
                no-repeat padding-box;
              border: 1px solid transparent;
            }
          }
          &.menu3 {
            &.active {
              background: transparent
                linear-gradient(135deg, #fe8e2c 0%, #ff362c 100%) 0% 0%
                no-repeat padding-box;
              border: 1px solid transparent;
            }
          }
          &.active {
            svg {
              fill: $white;
            }
          }
          svg {
            width: 32px;
            height: 32px;
            object-fit: contain;
            display: flex;
            margin: 0 auto;
            fill: $black;
          }
        }
      }
    }
    .tab-content {
      .tab-pane {
        padding: 15px 0;
        border-radius: 10px;
        color: $white;
        position: relative;
        .triangle-img {
          width: 25px;
          height: 25px;
          position: absolute;
          object-fit: contain;
          left: -19px;
        }
        &#home {
          .triangle-img {
            top: 28px;
          }
        }
        &#menu1 {
          .triangle-img {
            top: 116px;
          }
        }
        &#menu2 {
          .triangle-img {
            bottom: 116px;
          }
        }
        &#menu3 {
          .triangle-img {
            bottom: 28px;
          }
        }
        &#home {
          background: transparent
            linear-gradient(290deg, #8c42f5 0%, #eb56ad 100%) 0% 0% no-repeat
            padding-box;
        }
        &#menu1 {
          background: transparent
            linear-gradient(108deg, #00c4ff 0%, #006cff 100%) 0% 0% no-repeat
            padding-box;
        }
        &#menu2 {
          background: transparent
            linear-gradient(109deg, #07ee7b 0%, #0093ff 100%) 0% 0% no-repeat
            padding-box;
        }
        &#menu3 {
          background: transparent
            linear-gradient(109deg, #fe8e2c 0%, #ff362c 100%) 0% 0% no-repeat
            padding-box;
        }
        img {
          width: 100%;
          height: 318px;
          object-fit: cover;
          border-radius: 10px;
        }
        .tab-pane-desc {
          height: 100%;
          display: flex;
          flex-flow: column;
          justify-content: center;
          h5 {
            font-family: AkrobatBold;
            margin-bottom: 20px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

// section ten style ----------
.success-features {
  padding: 50px 0;
  background-color: rgba(#ffe7d1, 0.37);
  .success-stories-desc {
    position: relative;
    margin-bottom: 40px;
    .success-stories-heading {
      position: absolute;
      top: 60px;
      left: 0;
    }
    .owl-nav {
      position: absolute;
      top: 68px;
      right: 37%;
      button {
        &:hover {
          background-color: transparent;
        }
        &:focus {
          outline: none;
        }
        img {
          width: 34px;
        }
        &.owl-prev {
          margin-right: 20px;
        }
      }
    }
  }
  h3 {
    color: $orange;
    font-family: AkrobatBold;
    text-align: center;
  }
  .feature-card {
    background-color: $white;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    min-height: 320px;
    p {
      margin: 0;
    }
    .card-heading {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      img {
        width: 26px;
        height: 26px;
        object-fit: contain;
        margin-right: 10px;
      }
      p {
        font-family: AkrobatBold;
        font-size: 18px;
      }
    }
    &.blue-theme {
      .card-heading {
        p {
          color: $blue;
        }
      }
    }
    &.skyblue-theme {
      .card-heading {
        p {
          color: $skyBlue;
        }
      }
    }
    &.orange-theme {
      .card-heading {
        p {
          color: $orange;
        }
      }
    }
    &.yellow-theme {
      .card-heading {
        p {
          color: $yellow;
        }
      }
    }
    &.darkblue-theme {
      .card-heading {
        p {
          color: $darkBlue;
        }
      }
    }
    &.gradient-theme {
      background: url(../images/ecommerce-landing-image/business-team-manager-meeting.png)
        no-repeat center;
      background-size: cover;
      color: $white;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      h4 {
        font-family: AkrobatRegular;
        margin-bottom: 20px;
      }
    }
  }

  //success-card
  .success-card {
    position: relative;
    padding-top: 150px;
    padding-bottom: 50px;

    .success-card-inner {
      background: linear-gradient(111deg, #ea6059 0%, #b43d34 100%);
      padding: 30px;
      display: flex;
      align-items: center;
      border-radius: 15px 0px 0px 15px;

      .card-logo {
        margin-right: 20px;

        img {
          width: 120px;
        }
      }

      .card-info {
        background-color: rgba(#fff, 0.06);
        padding: 30px;
        border-radius: 15px;

        .card-info-top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 15px;

          h4 {
            color: #fff;
            font-size: 20px;
            line-height: 26px;
            margin: 0px;
            font-family: AkrobatBold;
          }

          .ratings {
            img {
              width: 120px;
              object-fit: contain;
            }
          }
        }

        .brief {
          min-height: 90px;
          margin-bottom: 15px;

          p {
            color: #fff;
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            margin: 0px;
            opacity: 0.82;
          }
        }

        .bottom-info {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .app-info {
            p {
              color: #fff;
              font-size: 16px;
              line-height: 22px;
              margin: 0px;
              font-family: AkrobatBold;

              span {
                text-transform: uppercase;
                font-family: AkrobatRegular;
                opacity: 0.82;
                display: inline-block;
                min-width: 84px;
              }
            }
          }

          .action-btn {
            a {
              color: #fff;
              font-size: 16px;
              line-height: 22px;
              font-weight: 400;
              border: 2px solid #fff;
              border-radius: 8px;
              padding: 8px 12px;
              text-decoration: none;
              display: inline-block;
              font-family: AkrobatBold;

              &:hover {
                background-color: #fff;
                color: #ea6059;
              }
            }
          }
        }
      }
    }

    .success-product-img {
      position: absolute;
      top: -130px;
      height: 500px;
      right: 30px;

      img {
        object-fit: contain;
        width: 380px;
      }
    }
  }
}

//service-section
.service-section {
  padding: 50px 0px;
  .section-heading {
    text-align: center;
    margin-bottom: 50px;
    h3 {
      color: #00a5ff;
      font-size: 30px;
      font-family: AkrobatBold;
      margin: 0px 0px 15px;
    }
    p {
      color: #151a20;
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      margin: 0px;
    }
  }
  .section-inner {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 1px 2px 10px #ddd;
    .service-box {
      padding: 30px;
      .heading {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .box-icon {
          margin-right: 10px;
          img {
            width: 60px;
            height: 60px;
            object-fit: contain;
            min-width: 60px;
          }
        }
        h2 {
          color: #ad6df1;
          font-size: 20px;
          line-height: 26px;
          margin: 0px;
          font-family: AkrobatBold;
        }
      }
      .brief {
        margin-bottom: 15px;
        p {
          color: #151a20;
          font-size: 16px;
          line-height: 22px;
          font-weight: 400;
          margin: 0px;
        }
      }
      .action-btn {
        a {
          color: transparent;
          font-size: 16px;
          line-height: 22px;
          font-family: AkrobatBold;
          border: 1px solid transparent;
          border-radius: 8px;
          padding: 8px 12px;
          text-decoration: none;
          display: inline-block;
          &:hover {
            background-color: transparent;
            color: #fff;
          }
        }
      }

      &.service-box-1 {
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        .heading {
          h2 {
            color: #ad6df1;
          }
        }
        .action-btn {
          a {
            color: #ad6df1;
            border-color: #ad6df1;
            &:hover {
              background-color: #ad6df1;
              color: #fff;
            }
          }
        }
      }

      &.service-box-2 {
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        .heading {
          h2 {
            color: #ffb60f;
          }
        }
        .action-btn {
          a {
            color: #ffb60f;
            border-color: #ffb60f;
            &:hover {
              background-color: #ffb60f;
              color: #fff;
            }
          }
        }
      }

      &.service-box-3 {
        border-bottom: 1px solid #ddd;
        .heading {
          h2 {
            color: #f65b8b;
          }
        }
        .action-btn {
          a {
            color: #f65b8b;
            border-color: #f65b8b;
            &:hover {
              background-color: #f65b8b;
              color: #fff;
            }
          }
        }
      }

      &.service-box-4 {
        border-right: 1px solid #ddd;
        .heading {
          h2 {
            color: #ff402c;
          }
        }
        .action-btn {
          a {
            color: #ff402c;
            border-color: #ff402c;
            &:hover {
              background-color: #ff402c;
              color: #fff;
            }
          }
        }
      }

      &.service-box-5 {
        border-right: 1px solid #ddd;
        .heading {
          h2 {
            color: #00a5ff;
          }
        }
        .action-btn {
          a {
            color: #00a5ff;
            border-color: #00a5ff;
            &:hover {
              background-color: #00a5ff;
              color: #fff;
            }
          }
        }
      }

      &.service-box-6 {
        .heading {
          h2 {
            color: #00a5ff;
          }
        }
        .action-btn {
          a {
            color: #00a5ff;
            border-color: #00a5ff;
            &:hover {
              background-color: #00a5ff;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

//choose-solution-section
.choose-solution-section {
  padding: 50px 0px 20px;
  .section-heading {
    text-align: center;
    margin-bottom: 50px;
    h3 {
      color: #ffb100;
      font-size: 30px;
      font-family: AkrobatBold;
      margin: 0px 0px 15px;
    }
    p {
      color: #151a20;
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      margin: 0px;
    }
  }
  .section-inner {
    .solution-box {
      margin-bottom: 50px;
      border: 2px solid transparent;
      border-radius: 15px;
      padding: 40px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: -2px;
        right: 40px;
        background-color: #fff;
        height: 2px;
        width: 60px;
        z-index: 1;
      }
      span {
        position: absolute;
        background-color: transparent;
        color: #fff;
        font-size: 20px;
        line-height: 26px;
        margin: 0px;
        top: -20px;
        right: 40px;
        width: 44px;
        text-align: center;
        height: 84px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-family: AkrobatBold;
        z-index: 2;
      }
      .heading {
        margin-bottom: 25px;
        margin-left: -50px;
        h2 {
          background-color: transparent;
          color: #fff;
          font-size: 20px;
          line-height: 26px;
          margin: 0px;
          display: inline-block;
          border-radius: 10px;
          padding: 10px 40px 10px 50px;
          font-family: AkrobatBold;
        }
      }
      .brief {
        margin-bottom: 15px;
        min-height: 90px;
        p {
          color: #151a20;
          font-size: 16px;
          line-height: 22px;
          font-weight: 400;
          margin: 0px;
        }
      }
      .action-btn {
        a {
          color: #000000;
          font-size: 16px;
          line-height: 22px;
          font-weight: 400;
          border: 1px solid $black;
          border-radius: 8px;
          padding: 12px 20px;
          text-decoration: none;
          display: inline-block;
          font-family: AkrobatBold;
          &:hover {
            background-color: $black;
            color: $white;
          }
        }
      }

      &.solution-box-1 {
        border-color: #9a45ea;
        span {
          background-color: #ad6df1;
        }
        .heading {
          h2 {
            background-color: #ad6df1;
          }
        }
      }

      &.solution-box-2 {
        border-color: #f65989;
        span {
          background-color: #f65989;
        }
        .heading {
          h2 {
            background-color: #f65989;
          }
        }
      }

      &.solution-box-3 {
        border-color: #02a8e1;
        span {
          background-color: #02a8e1;
        }
        .heading {
          h2 {
            background-color: #02a8e1;
          }
        }
      }

      &.solution-box-4 {
        border-color: #ffb000;
        span {
          background-color: #ffb000;
        }
        .heading {
          h2 {
            background-color: #ffb000;
          }
        }
      }
    }
  }
}
//feature-section
.feature-section {
  padding: 0px 0px 30px;
  background-size: cover;
  background-position: top right;
  .section-heading {
    margin-bottom: 30px;
    span {
      color: #151a20;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      margin-bottom: 10px;
      display: block;
      font-family: AkrobatRegular;
    }
    h3 {
      color: #000000;
      font-size: 30px;
      font-family: AkrobatExtraBold;
      margin: 0px;
    }
  }
  .section-inner {
    .feature-tab {
      .nav {
        border: 1px solid #02a8e1;
        border-radius: 10px;
        display: flex;
        align-items: center;
        overflow: hidden;
        margin-bottom: 20px;
        li {
          width: 33.33%;
          text-align: center;
          .nav-link {
            color: #02a8e1;
            padding: 8px 10px;
            border-radius: 10px;
            position: relative;
            font-family: AkrobatRegular;
            &:after {
              content: "";
              position: absolute;
              background-color: #02a8e1;
              height: 30px;
              width: 1px;
              right: -3px;
              top: 5px;
            }
            &.active {
              background-color: #02a8e1;
              color: #fff;
              &:after {
                display: none;
              }
            }
          }
          &:nth-last-child(1) {
            .nav-link {
              &:after {
                display: none;
              }
            }
          }
        }
      }
      .tab-content {
        .tab-pane {
          .feature-list {
            ul {
              li {
                color: #151a20;
                font-size: 16px;
                line-height: 22px;
                font-weight: 500;
                margin-bottom: 15px;
                border-bottom: 1px solid rgba(#000, 0.1);
                padding-bottom: 15px;
                svg {
                  width: 16px;
                  height: 16px;
                  margin-right: 10px;
                }
                &:nth-last-child(1) {
                  border-bottom: 0px;
                }
              }
            }
          }
        }
      }
    }

    .feature-section-img {
      img {
        width: 100%;
      }
    }
  }
}
// our-work
.our-work {
  background: transparent linear-gradient(121deg, #fe8e2c 0%, #ff362c 100%) 0%
    0% no-repeat padding-box;
  padding: 50px 0;
  .our-work-heading {
    text-align: center;
    h3 {
      color: $white;
      font-family: "AkrobatRegular";
    }
    p {
      color: $white;
      font-family: "SFProRegular";
    }
  }
  .portfolio-inner {
    background: #fff;
    padding: 60px;
    border-radius: 15px;
    border-radius: 0px 160px 0px 0px;

    .portfolio-cont {
      p {
        color: #000000;
        padding: 10px 0;
      }

      h2 {
        font-size: 42px;
        color: $orange;
        font-family: "AkrobatBold";
        margin: 0;
      }
      h3 {
        font-size: 32px;
        color: $gray;
        font-family: "AkrobatRegular";
        margin: 0;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .portfolio-inner {
      padding: 30px;
      margin-bottom: 10px;
      min-height: 515px;

      .portfolio-cont {
        margin-top: 20px;

        img {
          width: 170px;
        }

        p {
          padding: 5px 0;
          font-size: 14px;

          span {
            display: inline;
          }
        }
      }
    }
  }

  @media screen and (max-width: 991px) and (min-width: 768px) {
    .portfolio-inner {
      padding: 60px 30px;
      margin-bottom: 10px;

      .portfolio-cont {
        margin-top: 20px;

        img {
          width: 170px;
        }

        p {
          padding: 5px 0;
          font-size: 14px;

          span {
            display: inline;
          }
        }
      }
    }

    .portfolio-screen {
      width: 200px !important;
    }
  }

  .owl-carousel-work {
    .item {
      padding: 0px 0;

      @media screen and (max-width: 767px) {
        padding: 5px 0 0px;
      }
    }

    .owl-nav {
      position: absolute;
      bottom: 70px;
      right: 70px;
      display: block !important;
      margin: 0;

      @media (min-width: 768px) and (max-width: 991px) {
        margin: 0;
        top: auto;
        right: 0;
        left: 0;
        bottom: -30px;
      }

      @media screen and (max-width: 767px) {
        margin: 0 auto;
        top: auto;
        right: 0;
        left: 0;
        bottom: -30px;
        width: 100px;
        text-align: center;

        img {
          width: 20px !important;
        }
      }

      button {
        margin: 5px;
        border: none;
        background-color: transparent;

        img {
          width: 30px;
        }

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
  // technical-arch-main
  .technical-arch-main {
    margin-top: 60px;
    margin-bottom: -180px;
    position: relative;
    z-index: 1;

    ul {
      box-shadow: 0px 20px 40px #00000008;
      border-radius: 15px;
      margin: 0;
      list-style: none;
      display: flex !important;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      background-color: #fff;
      padding: 50px 20px;
      display: block;

      li {
        margin: 0 35px;
        display: block;

        img {
          width: 140px;
          height: 140px;
          object-fit: contain;
        }
      }
    }
  }
}

// expert
.expert {
  background: #e5f0ff;
  padding-top: 200px;

  .expert-content {
    .sub-tittle {
      font-size: 32px;
      font-weight: 500;
      padding-bottom: 5px;
      padding-bottom: 0px;
      font-family: "AkrobatRegular";
      margin: 0;
    }

    h2 {
      font-size: 82px;
      font-weight: bold;
      color: $blue;
      font-family: "SFProRegular";

      @media (min-width: 992px) and (max-width: 1200px) {
        font-size: 72px;
      }
    }

    .sub-content {
      padding: 15px 0;
    }

    .address-content {
      padding-right: 20px;
      margin-top: 20px;

      .address-heading {
        font-size: 22px;
        color: #9a45ea;
        font-family: "AkrobatRegular";
        margin: 0;
        padding: 5px 0;
      }
    }
  }

  .expert-form {
    font-family: "SFProRegular";

    .innerForm {
      background: #fff;
      padding: 60px;

      .form-tittle {
        font-size: 24px;
        color: #9a45ea;
        margin-bottom: 15px;
        font-family: "SFProRegular";
      }

      .innerFormInput {
        margin-bottom: 20px;

        label {
          margin-left: 20px;
          font-size: 16px;
          font-weight: 500;
          color: #000000;
        }

        input {
          border: 1px solid #151a204d;
          border-radius: 12px;
          padding: 30px 20px;
          height: 60px !important;
          min-height: 60px;
          outline: none;

          &::-moz-placeholder {
            font-size: 16px !important;
          }

          &:-ms-input-placeholder {
            font-size: 16px !important;
          }

          &::placeholder {
            font-size: 16px !important;
          }
        }

        .textarea {
          border: 1px solid #151a204d;
          border-radius: 12px;
          padding: 15px !important;
          height: 200px !important;

          &::-moz-placeholder {
            font-size: 16px !important;
          }

          &:-ms-input-placeholder {
            font-size: 16px !important;
          }

          &::placeholder {
            font-size: 16px !important;
          }
        }

        select {
          cursor: pointer;
          border: 1px solid #151a204d;
          border-radius: 12px;
          padding: 15px;
          height: 60px !important;
          min-height: 60px;
          color: #151a204d;
          font-weight: 600;

          option {
            display: block;
            padding: 15px 0;
          }
        }
      }

      @media screen and (max-width: 767px) {
        padding: 25px;
        margin-top: 20px;

        .innerFormInput {
          margin-bottom: 10px;

          label {
            margin-left: 15px;
            font-size: 14px;
          }

          input {
            border-radius: 10px;
            padding: 14px 15px;
            height: 20px !important;
            min-height: 40px;

            &::placeholder {
              font-size: 14px !important;
            }
          }

          select {
            border-radius: 10px;
            padding: 5px 12px;
            height: 40px !important;
            min-height: 40px;
          }

          .textarea {
            border-radius: 10px;
            padding: 10px !important;
            height: 115px !important;

            &::placeholder {
              font-size: 14px !important;
            }
          }
        }
      }

      @media screen and (max-width: 991px) and (min-width: 768px) {
        padding: 25px;
        margin-top: 20px;

        .innerFormInput {
          margin-bottom: 10px;

          label {
            margin-left: 15px;
            font-size: 14px;
          }

          input {
            border-radius: 10px;
            padding: 14px 15px;
            height: 20px !important;
            min-height: 40px;

            &::placeholder {
              font-size: 14px !important;
            }
          }

          select {
            border-radius: 10px;
            padding: 5px 12px;
            height: 40px !important;
            min-height: 40px;
          }

          .textarea {
            border-radius: 10px;
            padding: 10px !important;
            height: 115px !important;

            &::placeholder {
              font-size: 14px !important;
            }
          }
        }
      }
    }

    .uploadFile {
      .LoNotSensitive {
        display: block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 35%;
        cursor: pointer;
        opacity: 0;
        position: absolute;
        z-index: 10;
        height: 40%;
      }

      .addfile {
        display: flex;
        align-items: center;

        p {
          padding-left: 10px;
          font-size: 16px;
          font-weight: 500;
          margin: 0px;
        }
      }
    }

    .formBtns {
      display: flex;
      flex-direction: row;

      .border-dark-btn {
        margin-left: 20px;
        padding: 15px 50px;
      }

      @media screen and (max-width: 767px) {
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        align-items: center;

        .border-dark-btn {
          margin-left: 0px;
          padding: 15px 50px;
          margin-top: 15px;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .expert-content {
      text-align: center;

      .sub-tittle {
        font-size: 18px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        font-family: "AkrobatRegular";
      }

      h2 {
        font-size: 42px;
        color: #9a45ea;
      }

      .sub-content {
        padding: 10px 0;
        font-size: 14px;
        color: #000000;
        font-family: "SFProRegular";
      }

      .address-content {
        padding-right: 0px;
        margin-top: 0px;
        font-family: "SFProRegular";

        .address-heading {
          font-size: 16px;
        }

        p {
          font-size: 12px;
        }
      }
    }

    .form-tittle {
      font-size: 18px !important;
    }
  }

  @media screen and (max-width: 991px) and (min-width: 768px) {
    .expert-content {
      text-align: center;

      .sub-tittle {
        font-size: 18px;
        margin: 0;
        padding-bottom: 0px;
      }

      h2 {
        font-size: 42px;
      }

      .sub-content {
        padding: 10px 0;
        font-size: 14px;
      }

      .address-content {
        padding-right: 00px;
        margin-top: 00px;

        .address-heading {
          font-size: 16px;
        }

        p {
          font-size: 12px;
        }
      }
    }

    .form-tittle {
      font-size: 18px !important;
    }
  }
}
.row-center {
  display: flex;
  align-items: center;
  flex-direction: row;

  @media screen and (max-width: 991px) {
    flex-direction: column;
  }
}
.colorDanger {
  color: #ff0000;
}

.error {
  font-size: 14px !important;
}
