@font-face {
  font-family: GilroyBold;
  src: url(../fonts/gilroy/Gilroy-Bold.woff);
}
@font-face {
  font-family: ProductSansRegular;
  src: url(../fonts/product-sans/product-sans-regular.woff);
}
@font-face {
  font-family: ProductSansBold;
  src: url(../fonts/product-sans/product-sans-bold.woff);
}
body {
  font-family: ProductSansRegular;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.list-spacing, .real-estate-main .tech-arch-img .tech-arch-img-desc ul, .real-estate-main .technical-arch-main ul, .real-estate-main .key-offerings .feature-estate-main .feature-desc-tab .tab-content .tab-desc-feature {
  list-style: none;
  padding: 0;
  margin: 0;
}

.common-button {
  border-radius: 14px;
  color: #fff;
  font-size: 16px;
  padding: 12px 22px;
  font-family: "KoHo", sans-serif;
  border: none;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
@media (min-width: 768px) and (max-width: 991px) {
  .common-button {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .common-button {
    font-size: 14px;
  }
}
.common-button img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}
.common-button.blue-btn {
  background-color: #4188F6;
  color: #fff;
  transition: 0.2s all;
}
.common-button.blue-btn:hover {
  background-color: #1D4175;
}
.common-button.white-btn {
  background-color: #fff;
  color: #4188F6;
  transition: 0.2s all;
}
.common-button.white-btn:hover {
  background-color: #1D4175;
  color: #fff;
}
.common-button.transparent-btn {
  background-color: transparent;
  color: #fff;
  transition: 0.2s all;
  border: 2px solid #fff;
}
.common-button.transparent-btn:hover {
  background-color: #fff;
  color: #4188F6;
}

.common-heading {
  font-family: GilroyBold;
  font-size: 35px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .common-heading {
    font-size: 34px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .common-heading {
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  .common-heading {
    font-size: 26px;
	text-align: center;
  }
}

.colorWhite {
  color: #fff;
}

.colorBlue {
  color: #4188F6;
}

.mt80 {
  margin-top: 80px;
}

.mb30 {
  margin-bottom: 30px;
}

.p0 {
  padding: 0 !important;
}

.scroll-downs {
  position: absolute;
  right: 0;
  bottom: 45px;
  left: 0;
  margin: auto;
  width: 80px;
  height: 55px;
}
.scroll-downs p {
  text-align: center;
  color: #fff;
  margin-top: 5px;
}

.mousey {
  width: 2px;
  padding: 7px 12px;
  height: 28px;
  border: 3px solid #fff;
  border-radius: 25px;
  opacity: 1;
  box-sizing: content-box;
  margin: 0 auto;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
          animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
.common-card {
  border-radius: 100px 20px 20px 20px;
  padding: 40px;
  background-color: #fff;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
.common-card:hover {
  box-shadow: 0px 15px 20px rgba(29, 65, 117, 0.1019607843);
  top: -10px;
}
.common-card:hover .circle-card-main h2 {
  color: #4188F6;
}
.common-card:hover .solution-heading {
  color: #4188F6;
}
.common-card p {
  margin: 0;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .common-card p {
    font-size: 14px;
  }
}
.common-card .circle-card-main {
  display: flex;
  align-items: baseline;
}
.common-card .circle-card-main .circle-desc {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-color: #d2d9e3;
}
.common-card .circle-card-main h2 {
  margin: 0;
  color: #1D4175;
  font-size: 35px;
  margin-left: -20px;
}
.common-card h3 {
  font-weight: 600;
  color: #000;
}
@media screen and (max-width: 767px) {
  .common-card h3 {
    font-size: 20px;
  }
}
.common-card .key-card {
  position: relative;
  background-color: lightGrey;
  overflow-y: hidden;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 75px 20px 20px 20px;
  transition: 0.2s all;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .common-card .key-card {
    border-radius: 88px 20px 20px 20px;
  }
  .common-card .key-card img {
    height: 394px;
    -o-object-position: top;
       object-position: top;
  }
}
@media screen and (max-width: 767px) {
  .common-card .key-card {
    height: 400px;
    border-radius: 75px 0 0;
  }
}
.common-card .key-card:hover img { /* Safari 6.0 - 9.0 */
  filter: grayscale(0);
}
.common-card .key-card:hover .item__overlay {
  border-radius: 70px 10px 10px 10px;
}
.common-card .key-card:hover h4 {
  color: #4188F6;
}
.common-card .key-card h4 {
  margin: 0;
  color: #000;
}
.common-card .key-card span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.common-card .key-card span:hover ~ .item__overlay, .common-card .key-card span:focus ~ .item__overlay {
  transform: translate3d(0px, 40px, 0);
  height: 94%;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .common-card .key-card span:hover ~ .item__overlay, .common-card .key-card span:focus ~ .item__overlay {
    height: 360px;
  }
}
.common-card img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover; /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: 0.2s all;
}
.common-card .item__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 28px;
  position: absolute;
  width: 92%;
  bottom: 55px;
  transition: transform 300ms;
  transform: translate3d(0, calc(100% - 3.5rem), 0);
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  padding: 30px 20px 35px;
}
.common-card .item__body {
  flex-grow: 1;
}
.common-card .item__body img {
  width: 150px !important;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto 30px;
}
.common-card .item__body p {
  margin: 20px 0 0;
  height: 72px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .common-card .item__body p {
    font-size: 14px;
  }
}
.common-card.service-desc {
  text-align: center;
  margin-bottom: 30px;
  min-height: 380px;
}
.common-card.service-desc img {
  width: 55px;
  height: 55px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto 15px;
}
@media screen and (max-width: 767px) {
  .common-card.service-desc {
    min-height: auto;
  }
}
.common-card.no-animation {
  transition: none;
}
.common-card.no-animation:hover {
  top: 0;
}
.common-card.make-height {
  min-height: 322px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .common-card.make-height {
    min-height: auto;
  }
}

.real-estate-main .banner-section-main {
  background-image: url("https://d1fxfakb0fcon3.cloudfront.net/images/solutions/real-estate-web-development/banner-call-img.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 200px 0;
  position: relative;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .real-estate-main .banner-section-main {
    padding: 110px 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .real-estate-main .banner-section-main {
    padding: 130px 0 50px;
  }
}
@media screen and (max-width: 767px) {
  .real-estate-main .banner-section-main {
    padding: 90px 0 100px;
    background-position: left;
	
  }
}
.real-estate-main .banner-section-main .banner-call-desc h1 {
  color: #1D4175;
  font-family: GilroyBold;
  font-size: 46px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .real-estate-main .banner-section-main .banner-call-desc h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 767px) {
  .real-estate-main .banner-section-main .banner-call-desc h1 {
    font-size: 38px;
  }
}
.real-estate-main .banner-section-main .banner-call-desc h1 span {
  color: #4188F6;
}
.real-estate-main .banner-section-main .banner-call-desc p {
  margin-bottom: 20px;
}
.real-estate-main .what-makes {
  background-color: #f5f9ff;
}
@media screen and (max-width: 767px) {
  .real-estate-main .what-makes {
    padding-bottom: 60px;
  }
}
.real-estate-main .what-makes .owl-carousel-what .item {
  padding: 30px 0;
}
@media screen and (max-width: 767px) {
  .real-estate-main .what-makes .owl-carousel-what .item {
    padding: 30px 0 0px;
  }
}
.real-estate-main .what-makes .owl-carousel-what .owl-nav {
  position: absolute;
  bottom: -32px;
  right: 0;
  left: 0;
  display: block !important;
  margin: 0;
  
}
@media (min-width: 768px) and (max-width: 991px) {
  .real-estate-main .what-makes .owl-carousel-what .owl-nav {
    margin: 0;
    top: auto;
    right: 0;
    left: 0;
    bottom: -30px;
  }
}
@media screen and (max-width: 767px) {
  .real-estate-main .what-makes .owl-carousel-what .owl-nav {
    margin: 0;
    top: auto;
    right: 0;
    left: 0;
    bottom: -46px;
  }
}
.real-estate-main .what-makes .owl-carousel-what .owl-nav button {
  margin: 8px;
}
.real-estate-main .what-makes .owl-carousel-what .owl-nav button img {
  width: 30px;
}
.real-estate-main .what-makes .owl-carousel-what .owl-nav button:hover {
  background-color: transparent;
}
.real-estate-main .portal-section-main {
  padding: 120px 0 190px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .real-estate-main .portal-section-main {
    padding: 60px 0 190px;
  }
}
@media screen and (max-width: 767px) {
  .real-estate-main .portal-section-main {
    padding: 40px 0 160px;
  }
}
.real-estate-main .portal-section-main .portal-desc {
  height: 600px;
  overflow: auto;
}
.real-estate-main .portal-section-main .portal-desc::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@media screen and (max-width: 767px) {
  .real-estate-main .portal-section-main .portal-desc img {
    width: 50px;
    height: 50px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.real-estate-main .portal-section-main .portal-desc .panel-group {
  margin-top: 20px;
}
.real-estate-main .portal-section-main .portal-desc .panel-group .panel {
  border: 1px solid #000;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 15px;
  box-shadow: none;
}
.real-estate-main .portal-section-main .portal-desc .panel-group .panel .panel-heading {
  padding: 0;
}
.real-estate-main .portal-section-main .portal-desc .panel-group .panel .panel-heading a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  text-decoration: none;
  background-color: #fff;
  color: #000;
}
.real-estate-main .portal-section-main .portal-desc .panel-group .panel .panel-heading a:not(.collapsed) {
  background-color: #4188F6;
  color: #fff;
}
.real-estate-main .portal-section-main .portal-desc .panel-group .panel .panel-heading a:not(.collapsed) svg {
  fill: #fff;
  transform: rotate(45deg);
}
.real-estate-main .portal-section-main .portal-desc .panel-group .panel .panel-heading a:hover {
  text-decoration: none;
}
.real-estate-main .portal-section-main .portal-desc .panel-group .panel .panel-heading a svg {
  width: 30px;
  min-width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
.real-estate-main .portal-section-main .portal-desc .panel-group .panel .panel-collapse {
  background-color: #f5f9ff;
}
@media (min-width: 768px) and (max-width: 991px) {
  .real-estate-main .portal-section-main .portal-banner-img {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .real-estate-main .portal-section-main .portal-banner-img {
    display: none;
  }
}
.real-estate-main .portal-section-main .portal-banner-img img {
  width: 100%;
}
.real-estate-main .portal-section-main .portal-banner-img .dot-group-set {
  position: absolute;
  top: -55px;
  right: 0;
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1;
}
.real-estate-main .best-work-section {
  background-color: #f5f9ff;
}
@media screen and (max-width: 767px) {
  .real-estate-main .best-work-section h2 {
    margin-top: 40px;
  }
}
.real-estate-main .best-work-section .cta-app-idea {
  border-radius: 50px;
  background-color: #4188F6;
  background-image: url("https://d1fxfakb0fcon3.cloudfront.net/images/solutions/real-estate-web-development/app-idea-cta.webp");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 112px 40px;
  margin-top: -170px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .real-estate-main .best-work-section .cta-app-idea {
    padding: 40px;
  }
}
@media screen and (max-width: 767px) {
  .real-estate-main .best-work-section .cta-app-idea {
    padding: 30px;
    background-position: left;
	text-align: center;
  }
  .real-estate-main .best-work-section .cta-app-idea a {
	text-align: center;
	display: inline-block;
	}
  .real-estate-main .best-work-section .cta-app-idea .common-heading {
    margin-top: 0;
  }
}
.real-estate-main .best-work-section .cta-app-idea p {
  color: #fff;
  margin-bottom: 20px;
}
.real-estate-main .best-work-section .panel-group {
  margin-top: 30px;
}
.real-estate-main .best-work-section .panel-group .panel {
  border-radius: 40px;
  position: relative;
  background-color: rgba(65, 136, 246, 0.8);
  overflow: hidden;
  border: none;
}
.real-estate-main .best-work-section .panel-group .panel .panel-heading {
  padding: 0;
}
.real-estate-main .best-work-section .panel-group .panel .panel-heading a {
  position: relative;
}
.real-estate-main .best-work-section .panel-group .panel .panel-heading a img {
  width: 100%;
}
.real-estate-main .best-work-section .panel-group .panel .panel-body {
  border-top: none;
}
.real-estate-main .key-offerings .owl-carousel-what {
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .real-estate-main .key-offerings .owl-carousel-what {
    padding-bottom: 30px;
  }
}
.real-estate-main .key-offerings .owl-carousel-what .owl-nav {
	position: absolute;
    bottom: -60px;
    right: 0;
    left: 0;
    display: block !important;
    margin: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .real-estate-main .key-offerings .owl-carousel-what .owl-nav {
    margin: 0;
    top: auto;
    right: 0;
    left: 0;
    bottom: -64px;
  }
}
@media screen and (max-width: 767px) {
  .real-estate-main .key-offerings .owl-carousel-what .owl-nav {
    margin: 0;
    top: auto;
    right: 0;
    left: 0;
    bottom: -25px;
  }
}
.real-estate-main .key-offerings .owl-carousel-what .owl-nav button {
  margin: 8px;
}
.real-estate-main .key-offerings .owl-carousel-what .owl-nav button img {
  width: 30px;
}
.real-estate-main .key-offerings .owl-carousel-what .owl-nav button:hover {
  background-color: transparent;
}
.real-estate-main .key-offerings .feature-estate-main {
  background-color: #181D24;
  border-radius: 40px;
  margin-top: 100px;
  padding: 40px;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
  .real-estate-main .key-offerings .feature-estate-main .feature-banner-media {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .real-estate-main .key-offerings .feature-estate-main {
    margin-top: 50px;
    padding: 20px;
  }
}
.real-estate-main .key-offerings .feature-estate-main .feature-desc-tab p {
  margin-bottom: 30px;
  color: #fff;
}
.real-estate-main .key-offerings .feature-estate-main .feature-desc-tab .nav {
  border: none;
  padding: 0 30px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .real-estate-main .key-offerings .feature-estate-main .feature-desc-tab .nav {
    padding: 0 20px;
  }
}
@media screen and (max-width: 767px) {
  .real-estate-main .key-offerings .feature-estate-main .feature-desc-tab .nav {
    padding: 0 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
}
.real-estate-main .key-offerings .feature-estate-main .feature-desc-tab .nav li a {
  border-radius: 14px;
  color: #181D24;
  font-size: 16px;
  padding: 12px 22px;
  font-family: "KoHo", sans-serif;
  border: 2px solid transparent;
  color: #fff;
  transition: 0.2s all;
  margin-right: 10px;
  background-color: #181D24;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .real-estate-main .key-offerings .feature-estate-main .feature-desc-tab .nav li a {
    margin-right: 8px;
  }
}
@media screen and (max-width: 767px) {
  .real-estate-main .key-offerings .feature-estate-main .feature-desc-tab .nav li a {
    margin-right: 0;
    margin-bottom: 5px;
    font-size: 14px;
  }
}
.real-estate-main .key-offerings .feature-estate-main .feature-desc-tab .nav li a:hover {
  border: 2px solid #4188F6;
  color: #4188F6;
}
.real-estate-main .key-offerings .feature-estate-main .feature-desc-tab .nav li.active a {
  background-color: #4188F6;
  color: #fff;
}
.real-estate-main .key-offerings .feature-estate-main .feature-desc-tab .tab-content {
  background-color: rgba(65, 136, 246, 0.1);
  padding: 60px 30px 120px;
  border-radius: 20px;
  margin-top: -23px;
  background-image: url("https://d1fxfakb0fcon3.cloudfront.net/images/solutions/real-estate-web-development/panel-outline.webp");
  background-position: bottom left;
  background-size: 45%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  min-height: 287px;
}
@media screen and (max-width: 767px) {
  .real-estate-main .key-offerings .feature-estate-main .feature-desc-tab .tab-content {
    min-height: auto;
    background-size: 90%;
    padding: 50px 20px 74px;
  }
}
.real-estate-main .key-offerings .feature-estate-main .feature-desc-tab .tab-content .tab-desc-feature {
  color: #fff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.real-estate-main .key-offerings .feature-estate-main .feature-desc-tab .tab-content .tab-desc-feature li {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .real-estate-main .key-offerings .feature-estate-main .feature-desc-tab .tab-content .tab-desc-feature li {
    width: 100%;
    margin-bottom: 5px;
  }
}
.real-estate-main .services-dev-main {
  background-color: #f5f9ff;
  margin-top: -170px;
  padding-top: 180px;
}
@media screen and (max-width: 767px) {
  .real-estate-main .services-dev-main {
    padding-top: 160px;
  }
}
.real-estate-main .services-dev-main .service-card-group {
  margin-top: 30px;
}
.real-estate-main .services-dev-main .service-card-group .service-dummy-img {
  width: 100%;
  min-height: 380px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  margin-bottom: 30px;
  border-radius: 100px 20px 20px 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .real-estate-main .services-dev-main .service-card-group .service-dummy-img {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .real-estate-main .services-dev-main .service-card-group .service-dummy-img {
    display: none;
  }
}
.real-estate-main .services-dev-main .service-card-group .service-dummy-media {
  display: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  .real-estate-main .services-dev-main .service-card-group .service-dummy-media {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .real-estate-main .services-dev-main .service-card-group .service-dummy-media {
    display: block;
    margin-bottom: 30px;
	width: 100%;
  }
}
.real-estate-main .leader-words {
  background-color: #181D24;
}
@media screen and (max-width: 767px) {
  .real-estate-main .leader-words {
    text-align: center;
  }
}
.real-estate-main .leader-words .words-desc {
  display: flex;
  align-items: flex-start;
  color: #fff;
  padding-bottom: 80px;
  border-bottom: 1px solid #2c2f37;
  margin-bottom: 60px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .real-estate-main .leader-words .words-desc {
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .real-estate-main .leader-words .words-desc {
    margin-bottom: 80px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .real-estate-main .leader-words .words-desc {
    flex-flow: column;
    align-items: center;
    margin-bottom: 70px;
    padding-bottom: 15px;
  }
}
.real-estate-main .leader-words .words-desc h3 {
  font-weight: 600;
}
@media (min-width: 768px) and (max-width: 991px) {
  .real-estate-main .leader-words .words-desc h3 {
    font-size: 19px;
  }
}
.real-estate-main .leader-words .words-desc img {
  width: 170px;
  height: 170px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 100px;
  margin-right: 30px;
}
@media screen and (max-width: 767px) {
  .real-estate-main .leader-words .words-desc img {
    margin: 0;
  }
}
.real-estate-main .technical-arch-main {
  margin-top: -120px;
}
.real-estate-main .technical-arch-main ul {
  box-shadow: 0px 15px 20px rgba(29, 65, 117, 0.1019607843);
  border-radius: 40px;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 40px 20px;
}
@media screen and (max-width: 767px) {
  .real-estate-main .technical-arch-main ul {
    padding: 20px;
    flex-flow: column;
    justify-content: center;
  }
}
.real-estate-main .technical-arch-main ul li {
  margin: 0 10px;
}
.real-estate-main .technical-arch-main ul li img {
  width: 140px;
  height: 140px;
  -o-object-fit: contain;
     object-fit: contain;
}
.real-estate-main .tech-arch-img {
  padding-top: 20px;
}
.real-estate-main .tech-arch-img .tech-arch-img-desc ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0;
}
.real-estate-main .tech-arch-img .tech-arch-img-desc ul li {
  box-shadow: 0px 15px 20px rgba(29, 65, 117, 0.1);
  border-radius: 30px;
  padding: 30px;
  min-width: 270px;
  margin-right: 30px;
  text-align: center;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .real-estate-main .tech-arch-img .tech-arch-img-desc ul li {
    min-width: auto;
    margin-right: 8px;
  }
}
@media screen and (max-width: 767px) {
  .real-estate-main .tech-arch-img .tech-arch-img-desc ul li {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.real-estate-main .tech-arch-img .tech-arch-img-desc ul li img {
  width: 65px;
  height: 65px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 20px;
}
.real-estate-main .tech-arch-img .tech-arch-img-desc ul li p {
  margin: 0;
  padding-left: 20px;
  border-left: 1px solid #989898;
  height: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: left;
}
.real-estate-main .launch-cta {
  background-color: #4188F6;
  border-radius: 40px;
  padding: 70px 50px;
  position: relative;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .real-estate-main .launch-cta {
    padding: 40px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .real-estate-main .launch-cta {
    padding: 40px;
  }
}
@media screen and (max-width: 767px) {
  .real-estate-main .launch-cta {
    padding: 20px;
	text-align: center;
  }
  .real-estate-main .launch-cta a {
	display: inline-block;  
  }
  .real-estate-main .launch-cta h2 {
    margin-top: 0;
  }
}
.real-estate-main .launch-cta img {
  position: absolute;
  bottom: -14px;
  right: -25px;
  width: 600px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .real-estate-main .launch-cta img {
    width: 520px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .real-estate-main .launch-cta img {
    width: 430px;
  }
}
@media screen and (max-width: 767px) {
  .real-estate-main .launch-cta img {
    display: none;
  }
}
.real-estate-main .launch-cta p {
  margin: 30px 0;
}
@media screen and (max-width: 767px) {
  .real-estate-main .launch-cta p {
    margin-top: 10px;
	text-align: center;
  }
}
.real-estate-main .faq-section .panel-group {
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  .real-estate-main .faq-section .panel-group {
    margin-top: 30px;
  }
}
.real-estate-main .faq-section .panel-group .panel {
  box-shadow: 0px 15px 20px rgba(29, 65, 117, 0.1019607843);
  border-radius: 25px;
  border: none;
  margin-bottom: 20px;
  overflow: hidden;
}
.real-estate-main .faq-section .panel-group .panel .panel-heading {
  padding: 0;
}
.real-estate-main .faq-section .panel-group .panel .panel-heading a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: ProductSansBold;
  padding: 20px;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  text-decoration: none;
}
.real-estate-main .faq-section .panel-group .panel .panel-heading a:hover {
  text-decoration: none;
  color: #000;
}
.real-estate-main .faq-section .panel-group .panel .panel-heading a svg {
  width: 18px;
  min-width: 18px;
  height: 18px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 20px;
}
.real-estate-main .faq-section .panel-group .panel .panel-heading a:not(.collapsed) {
  background-color: #4188F6;
  color: #fff;
}
.real-estate-main .faq-section .panel-group .panel .panel-heading a:not(.collapsed) svg {
  fill: #fff;
  transform: rotate(45deg);
}
.real-estate-main .faq-section .panel-group .panel .panel-body {
  padding: 0 20px 20px;
  border-top: none;
  background-color: #4188F6;
  color: #fff;
}
.real-estate-main .portfolio-works {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .real-estate-main .portfolio-works {
    flex-wrap: nowrap;
    overflow: auto;
  }
}
@media screen and (max-width: 767px) {
  .real-estate-main .portfolio-works {
    flex-flow: column;
  }
}
.real-estate-main .portfolio-works .portfolio-accordion {
  border-radius: 25px;
  display: flex;
  background-image: url("https://d1fxfakb0fcon3.cloudfront.net/images/solutions/real-estate-web-development/best-work-accordion-dummy.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 15px;
  height: 100%;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .real-estate-main .portfolio-works .portfolio-accordion {
    flex-flow: column;
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }
}
.real-estate-main .portfolio-works .portfolio-accordion .accordion-header {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-between;
  width: 200px;
  min-width: 200px;
  min-height: 498px;
  border-radius: 25px;
  overflow: hidden;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .real-estate-main .portfolio-works .portfolio-accordion .accordion-header {
    min-height: 650px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .real-estate-main .portfolio-works .portfolio-accordion .accordion-header {
    min-height: 520px;
  }
}
@media screen and (max-width: 767px) {
  .real-estate-main .portfolio-works .portfolio-accordion .accordion-header {
    min-width: auto;
    min-height: 150px;
    width: 100%;
  }
}
.real-estate-main .portfolio-works .portfolio-accordion .accordion-header img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.real-estate-main .portfolio-works .portfolio-accordion .accordion-header h3 {
  position: absolute;
  bottom: 190px;
  right: 0px;
  left: -137px;
  transform: rotate(270deg);
  margin: 0;
  color: #fff;
  font-family: ProductSansBold;
  padding: 0 25px;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .real-estate-main .portfolio-works .portfolio-accordion .accordion-header h3 {
    transform: rotate(0deg);
    font-size: 20px;
    padding: 0;
    bottom: 0;
    right: 0;
    left: 20px;
    top: 70px;
  }
}
.real-estate-main .portfolio-works .portfolio-accordion .accordion-header h3::after {
  position: absolute;
  content: " ";
  top: -18px;
  left: 0px;
  background-color: #33353D;
  height: 62px;
  width: 65%;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .real-estate-main .portfolio-works .portfolio-accordion .accordion-header h3::after {
    height: 60px;
    width: 36%;
    top: -20px;
    left: -20px;
  }
}
.real-estate-main .portfolio-works .portfolio-accordion .accordion-body {
  padding: 40px;
  background-color: rgba(65, 136, 246, 0.8);
  border-radius: 0 25px 25px 0;
  color: #fff;
  width: 100%;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .real-estate-main .portfolio-works .portfolio-accordion .accordion-body {
    padding: 40px 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .real-estate-main .portfolio-works .portfolio-accordion .accordion-body {
    padding: 40px 20px;
    width: 400px;
  }
}
@media screen and (max-width: 767px) {
  .real-estate-main .portfolio-works .portfolio-accordion .accordion-body {
    padding: 40px 20px;
    border-radius: 0 0 25px 25px;
  }
}
.real-estate-main .portfolio-works .portfolio-accordion .accordion-body .logo-accordion {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 20px;
}
.real-estate-main .portfolio-works .portfolio-accordion .accordion-body .quot-icon {
  width: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}
.real-estate-main .portfolio-works .portfolio-accordion .accordion-body h4 {
  font-size: 18px;
  margin-bottom: 20px;
}
.real-estate-main .portfolio-works .portfolio-accordion .accordion-body .accordion-client-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .real-estate-main .portfolio-works .portfolio-accordion .accordion-body .accordion-client-inline {
    flex-wrap: wrap;
  }
  .real-estate-main .portfolio-works .portfolio-accordion .accordion-body .accordion-client-inline button {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .real-estate-main .portfolio-works .portfolio-accordion .accordion-body .accordion-client-inline {
    flex-flow: column;
    align-items: flex-start;
  }
  .real-estate-main .portfolio-works .portfolio-accordion .accordion-body .accordion-client-inline button {
    margin-top: 20px;
  }
}
.real-estate-main .portfolio-works .portfolio-accordion .accordion-body .accordion-client-inline > div {
  display: flex;
  align-items: center;
}
.real-estate-main .portfolio-works .portfolio-accordion .accordion-body .accordion-client-inline img {
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 1px solid #fff;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  margin-right: 10px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .real-estate-main .portfolio-works .portfolio-accordion .accordion-body .accordion-client-inline img {
    margin-right: 6px;
  }
}
.real-estate-main .portfolio-works .portfolio-accordion .accordion-body .accordion-client-inline h4 {
  margin: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .real-estate-main .portfolio-works .portfolio-accordion .accordion-body .accordion-client-inline h4 {
    font-size: 17px;
  }
}
@media screen and (max-width: 767px) {
  .real-estate-main .portfolio-works .portfolio-accordion .accordion-body .accordion-client-inline h4 {
    font-size: 17px;
  }
}
.real-estate-main .portfolio-works .portfolio-accordion .accordion-body .accordion-client-inline p {
  margin: 0;
}
@media screen and (max-width: 767px) {
.what-slider-desc p {
	text-align: center;
}
.banner-call-desc {
	text-align: center;
}
.banner-call-desc a {
	display: inline-block;
}
.scroll-downs {
	bottom: 16px;
}
.real-estate-main .portal-section-main .portal-desc {
	height: 100%;
	overflow: visible;
	text-align: center;
}
.real-estate-main .portfolio-works .portfolio-accordion .accordion-body {
	background-color: rgba(65, 136, 246, 0.4);
}
.key-offerings {
	text-align: center;
}
.arrow-animation {
	display: block !important;
}
}

@-webkit-keyframes uparrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(-0.4em); opacity: 0.9 }
}
@-webkit-keyframes downarrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}
.arrow-animation {
	color: #4188F6;
	position: absolute;
    bottom: 90px;
    left: 0;
    right: 0;
	display: none;
}
.arrow-animation i {
	font-size: 26px;
}
.up {
  -webkit-animation: uparrow 0.6s infinite alternate ease-in-out;
}

/*# sourceMappingURL=real-estate.css.map */