.testimonial-main {
  padding-top: 100px;
}


.our-quality {
  background: url("https://d1fxfakb0fcon3.cloudfront.net/images/testimonials/dots_bg.webp")no-repeat center;
  background-size: cover;
  width: 100%;
  /* min-height: 700px; */
  text-align: center;
  padding-top: 50px;
  padding-bottom: 0px;
}



.our-quality h2 {
  color: #243C58;
  font-size: 40px;
  font-family: 'Roboto';
  font-weight: 700;
}

.our-quality p {
  color: #243C58;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.delivering-images-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.delivering-img-item {
  margin: 25px 0px;
}

.img-logo {
  min-height: 70px;
  width: 100%;
}

@media screen and (max-width: 575px) {
  .our-quality {
    padding-top: 50px;
  }

  .our-quality h2 {
    font-size: 30px;
  }

  .our-quality p {
    font-size: 14px;
  }

  .delivering-img-item {
    margin: 15px 0px;
  }

  .img-logo {
    width: 75%;
  }

  .delivering-images-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

}

@media (min-width: 576px) and (max-width: 767px) {
  .our-quality {
    padding-top: 58px;
  }

  .our-quality h2 {
    font-size: 40px;
  }

  .our-quality p {
    font-size: 15px;
  }

  .img-logo {
    width: 60%;
  }

  .delivering-img-item {
    margin: 18px 0px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {

  .our-quality h2 {
    font-size: 43px;
  }

  .our-quality p {
    font-size: 17px;
  }

  .our-quality {
    min-height: 550px;
    padding-top: 30px;
  }


}
@media (min-width: 992px) {
  .our-quality {
    background: url("../images/testimonial/dots_bg.png")no-repeat center;
    background-size: cover;
    width: 100%;
    /* min-height: 700px;  */
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .banner-porson-img img{
    width: 600px;
    object-fit: contain;

}
}
























.testimonial-main .testimonial-banner {
  background-image: url("../images/testimonial/testimonial-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  padding-top: 126px;
  padding-bottom: 126px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .testimonial-main .testimonial-banner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .testimonial-main .testimonial-banner {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.testimonial-main .testimonial-banner h1 {
  font-weight: 800;
}

.testimonial-main .testimonial-banner ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .testimonial-main .testimonial-banner ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .testimonial-main .testimonial-banner ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.testimonial-main .testimonial-banner ul li {
  backdrop-filter: blur(26px);
  -webkit-backdrop-filter: blur(26px);
  border-radius: 10px;
  margin: 0 15px;
  padding: 20px;
  min-width: 150px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .testimonial-main .testimonial-banner ul li {
    margin: 10px;
  }
}

@media screen and (max-width: 767px) {
  .testimonial-main .testimonial-banner ul li {
    margin: 10px;
    padding: 20px 10px;
    min-width: 125px;
  }
}

.testimonial-main .testimonial-banner ul li img {
  width: 35px;
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}

.common-header {
  text-align: center;
}

.common-header p {
  color: #19ace8;
  font-size: 12px;
  position: relative;
  text-transform: uppercase;
  margin: 0;
}

.common-header p span {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 80px;
  color: #243c58;
  opacity: 0.04;
  font-weight: 800;
  text-transform: capitalize;
}

@media screen and (max-width: 767px) {
  .common-header p span {
    top: -22px;
    font-size: 38px;
  }
}

.common-header h2 {
  margin-top: 0;
  font-weight: 800;
  color: #243c58;
}

@media (min-width: 768px) and (max-width: 991px) {
  .awards {
    padding: 90px 0;
  }
}

@media screen and (max-width: 767px) {
  .awards {
    padding: 60px 0;
  }
}

.awards .owl-stage-outer {
	margin-bottom: 40px;
}

.awards .set-owl {
  margin-top: 50px;
}

.awards .set-owl img {
  width: 150px;
  -o-object-fit: contain;
    object-fit: contain;
  -o-object-position: center;
    object-position: center;
	margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 991px) {
  .awards .set-owl img {
    width: 160px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .awards .set-owl img {
    margin: 0 auto;
  }
}

.client-video {
  background-color: #f4fbff;
  padding: 120px 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .client-video {
    padding: 90px 0;
  }
}

@media screen and (max-width: 767px) {
  .client-video {
    padding: 60px 0;
  }
}

.client-video .client-video-position {
  position: relative;
}

.client-video .client-video-position .shape-one {
  position: absolute;
  top: -110px;
  right: 110px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .client-video .client-video-position .shape-one {
    top: -80px;
    right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .client-video .client-video-position .shape-one {
    top: -90px;
    right: 0px;
  }
}

.client-video .client-video-position .shape-one img {
  width: 280px;
  -o-object-fit: contain;
     object-fit: contain;
}

.client-video .client-video-position .shape-two {
  position: absolute;
  bottom: 15px;
  left: 144px;
}

@media screen and (max-width: 767px) {
  .client-video .client-video-position .shape-two {
    display: none;
  }
}

.client-video .client-video-position .shape-two img {
  width: 180px;
  -o-object-fit: contain;
     object-fit: contain;
}

.client-video .client-video-position .owl-client-video {
  margin-top: 50px;
}

.client-video .client-video-position .owl-client-video .item {
  text-align: center;
}

.client-video .client-video-position .owl-client-video video {
  width: 62%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 767px) {
  .client-video .client-video-position .owl-client-video video {
    width: 100%;
  }
}

.client-video .testimonial-subsection {
  padding-top: 50px;
  margin-top: 80px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .client-video .testimonial-subsection {
    margin-top: 50px;
  }
}

.client-video .testimonial-subsection::after {
  position: absolute;
  content: " ";
  background-color: #ddd;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  right: 0;
  width: 60%;
  margin: 0 auto;
}

.client-video .testimonial-card-value {
  background-color: #fff;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  min-height: 210px;
}

@media screen and (max-width: 767px) {
  .client-video .testimonial-card-value {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.client-video .testimonial-card-value .testimonial-client-img {
  margin-right: 20px;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (max-width: 767px) {
	.client-video .testimonial-card-value .testimonial-client-img {
		margin: 0 auto;
	}
}

.client-video .testimonial-card-value .testimonial-client-img img {
  width: 160px;
  min-width: 160px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.client-video .testimonial-card-value .testimonial-client-img .client-name {
  background-color: #243c58;
  color: #fff;
  padding: 10px;
  position: absolute;
  bottom: -35px;
  right: -12px;
  width: 100%;
}

@media screen and (max-width: 767px) {
	.client-video .testimonial-card-value .testimonial-client-img .client-name {
		position: relative;
		bottom: 0;
		right:0;
		text-align: center;
	}
	
	.client-video .testimonial-card-value .testimonial-client-img img {
		width: 100%;
		min-width: 100%;
		height: 160px;
		object-fit: contain;
	}
}

.client-video .testimonial-card-value .testimonial-client-img .client-name p {
  margin: 0;
  font-size: 12px;
  font-weight: 800;
}

.client-video .testimonial-card-value .testimonial-client-img .client-name span {
  font-size: 10px;
}

@media screen and (max-width: 767px) {
  .client-video .testimonial-card-value .rating-client {
    margin-top: 20px;
  }
  
  .client-video .testimonial-card-value .rating-client p {
	  text-align: center;
  }
  
   .client-video .testimonial-card-value .rating-client ul {
	   justify-content: center;
   }
}

.client-video .testimonial-card-value .rating-client p {
  font-size: 12px;
  font-weight: 500;
     /* display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;*/
}

.client-video .testimonial-card-value .rating-client ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client-video .testimonial-card-value .rating-client ul li {
  margin-right: 5px;
  color: #006de8;
}

.client-btn {
  background-color: #2f90d7;
  color: #fff;
  padding: 10px 40px;
  border: none;
  font-size: 14px;
}

.margin-top-lg {
  margin-top: 20px;
}
/*# sourceMappingURL=testimonial.css.map */