@import "./font.scss";
@import "./common.scss";

.maincontainer {
  position: relative;
  padding-top: 10%;
  @media (max-width: 999px) {
    padding-top: 20%;
  }
  .row {
    background-color: $mainWhite;
    border-radius: 1rem;
    overflow: hidden;
    .col-md-4 {
      background-color: $mainWhite;
    }
  }
  .contact-us-header {
    background: url("../images/contact-about-background.png") no-repeat;
    background-size: cover;
    background-color: rgba($color: $bgGrey, $alpha: 0.8);
    text-align: center;
    margin: 0 auto;
    padding: 5rem 0 10rem 0;
    @media (min-width: 1200px) {
      background-position: 10px -157px;
    }
    @media (max-width: 599px) {
      padding-top: 35%;
    }
    @media (max-width: 320) {
      padding-top: 50%;
    }
  }
  .map-section {
    background-color: #fff;
  }
  h2 {
    color: $mainOrange;
  }
  .information {
    padding: 3rem;
  }
}

.connect-with-us {
  // position: absolute;
  // bottom: 10%;
  // top: 10%;
  // left: 10%;
  // margin-top: 20%;
  margin: -7% 0;
  .information {
    div {
      font-family: Roboto-Medium;
    }
  }
}

.social-media-links {
  a {
    &:hover {
      color: $mainOrange;
    }
  }
}

.footer {
  padding-top: 7rem;
  @media (min-width: 1400px) {
    padding-top: 10rem;
  }
}

.connect-with-us .row .information {
  padding: 3rem;
}

.contact-submit {
  width: 200px;
}
.social-media-links {
  i {
    padding-top: 10px;
    font-size: 20px;
  }
}
