/* landing florida style start --------- */
html, body {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

p {
  font-family: "Open Sans", sans-serif !important;
}

.positionRelative {
  position: relative;
}

.colorWhite {
  color: #fff;
}

.font14 {
  font-size: 14px !important;
}

.font12 {
  font-size: 12px !important;
}

.common-heading {
  font-family: "Open Sans", sans-serif !important;
  color: #fff;
  font-size: 34px !important;
  font-weight: 700;
  position: relative;
}
@media screen and (max-width: 767px) {
	.common-heading {
		font-size: 28px !important;	
	}
}
.common-heading::after {
  position: absolute;
  content: " ";
  bottom: 0;
  width: 70px;
  height: 5px;
  border-radius: 10px;
}
.common-heading::before {
  position: absolute;
  content: " ";
  bottom: 0;
  width: 16px;
  height: 5px;
  border-radius: 10px;
}
.common-heading.para {
  font-size: 16px !important;
  font-weight: 400;
  padding-bottom: 18px;
}
@media screen and (max-width: 767px) {
.common-heading.left {
	text-align: center;
} 	
.common-heading.left::after {
  left: 0;
  right: 0;
  margin: 0 auto;
}
.common-heading.left::before {
	left: 100px;
    right: 0;
    margin: 0 auto;
}
}
.common-heading.left::after {
  left: 0;
}
.common-heading.left::before {
  left: 75px;
}
.common-heading.center {
  text-align: center;
}
.common-heading.center::after {
  left: 0;
  right: 0;
  margin: 0 auto;
}
.common-heading.center::before {
  left: 96px;
  right: 0;
  margin: 0 auto;
}
.common-heading.bgBlue::after, .common-heading.bgBlue::before {
  background-color: #376CF4;
}
.common-heading.bgWhite::after, .common-heading.bgWhite::before {
  background-color: #fff;
}

.white-btn {
  font-weight: 500;
  transition: 0.3s all;
  padding: 10px 20px !important;
  font-size: 14px;
}
.white-btn:hover {
  background-color: #376CF4;
  color: #fff;
}
.white-btn.white-border-radius {
  border-radius: 0 !important;
}
.white-btn.white-btn-hover-black:hover {
  background-color: #000;
  color: #fff;
}

.black-btn {
  background-color: #000;
  font-weight: 500;
  transition: 0.3s all;
  padding: 10px 20px !important;
  color: #fff;
  border-radius: 0 !important;
  font-size: 14px;
}
.black-btn:hover {
  background-color: #fff;
  color: #000;
}

.outline-txt {
  width: 70%;
}
@media screen and (max-width: 767px) {
  .outline-txt {
    width: 100%;
  }
}

.outline-txt-sm {
  width: 40%;
}
@media screen and (max-width: 767px) {
  .outline-txt-sm {
    width: 86%;
  }
}

.outline-txt-xs {
  width: 25%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 767px) {
  .outline-txt-xs {
    width: 60%;
  }
}

.landing-florida-main {
  background-color: #000;
  padding-top: 180px;
}
.landing-florida-main .banner-florida-desc {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 60px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .landing-florida-main .banner-florida-desc {
    padding: 0 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-florida-main .banner-florida-desc {
    padding: 0 10px;
  }
}
@media screen and (max-width: 767px) {
  .landing-florida-main .banner-florida-desc {
    padding: 0;
	text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
.landing-florida-main .banner-florida-desc h1 {
  color: #376CF4;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 52px;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .landing-florida-main .banner-florida-desc h1 {
    font-size: 46px;
  }
}
.landing-florida-main .banner-florida-desc h2 {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 34px !important;
  font-weight: 700;
}
.landing-florida-main .banner-florida-desc h3 {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  color: #fff;
  font-size: 32px !important;
}
.landing-florida-main .banner-florida-desc p {
  color: #A1A1A1;
  margin-bottom: 20px;
}

.schedule-form-main {
  margin-top: 80px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .schedule-form-main {
    margin-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .schedule-form-main {
    margin-top: 40px;
  }
}
.schedule-form-main .schedule-desc-form {
  color: #fff;
}
.schedule-form-main .schedule-desc-form p {
  font-family: "Open Sans", sans-serif !important;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
	.schedule-form-main .schedule-desc-form p {
		text-align: center;
	}
	.schedule-form-main .schedule-desc-form h3 {
		text-align: center;
	}
	.schedule-form-main .schedule-desc-form ul {
		justify-content: center;
	}
	.feature-section {
		text-align: center;
	}
	.book-demo {
		text-align: center;
	}
	.cta-consult-desc {
		text-align: center;
	}
}
.schedule-form-main .schedule-desc-form p span {
  color: #376CF4;
  font-weight: 700;
  font-size: 20px;
}
.schedule-form-main .schedule-desc-form h3 {
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  padding-bottom: 10px;
}
.schedule-form-main .schedule-desc-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.schedule-form-main .schedule-desc-form ul li {
  background-color: #1a1a1a;
  color: #A1A1A1;
  padding: 8px 20px;
  margin: 4px;
  transition: 0.3s all;
}
.schedule-form-main .schedule-desc-form ul li:hover {
  background-color: #a1a1a1;
  color: #000;
}

.schedule-form {
  background-image: url("../images/landing-page/schedule-bg-form.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  width: 100%;
  min-height: 100%;
  margin-top: -40px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .schedule-form {
    min-height: auto;
  }
}
@media screen and (max-width: 767px) {
  .schedule-form {
    min-height: auto;
    margin-top: 20px;
  }
}
.schedule-form .schedule-padding-form {
  padding: 60px 20px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}
@media screen and (max-width: 767px) {
  .schedule-form .schedule-padding-form {
    padding: 40px 20px;
  }
}
.schedule-form h5 {
  text-align: center;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 40px;
  font-weight: 600;
}
.schedule-form form .form-group .form-control {
  background-color: transparent;
  border-bottom: 1px solid #2a2a2a;
  font-size: 14px;
  color: #A1A1A1;
  resize: none;
  transition: 0.5s all;
  padding: 20px 15px;
}
.schedule-form form .form-group .form-control:hover {
  border-bottom: 1px solid #376CF4;
}

.ecom-developer {
  margin-top: 80px;
  position: relative;
  z-index: 1;
  padding-top: 10px;
}
@media screen and (max-width: 767px) {
  .ecom-developer {
    margin-top: 40px;
  }
}
.ecom-developer::after {
  content: " ";
  position: absolute;
  background-color: #376CF4;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .ecom-developer::after {
    width: 100%;
  }
}
.ecom-developer .ecom-dev-desc {
  color: #fff;
  padding-bottom: 40px;
}
.ecom-developer .ecom-dev-desc h2 {
  margin-top: 10px;
}
.ecom-developer .ecom-dev-desc p {
  margin-top: 20px;
}

.card-dev-main {
  margin-top: 20px;
}
.card-dev-main .card-dev {
  background-color: #252525;
  text-align: center;
  transition: 0.3s all;
  border: 1px solid transparent;
  padding: 60px 30px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .card-dev-main .card-dev {
    padding: 20px 5px;
  }
}
.card-dev-main .card-dev img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 15px;
}
.card-dev-main .card-dev p {
  color: #fff;
}
@media (min-width: 768px) and (max-width: 991px) {
  .card-dev-main .card-dev p {
    font-size: 14px !important;
  }
}
.card-dev-main .card-dev:hover {
  box-shadow: 0px 8px 32px rgba(55, 108, 244, 0.3019607843);
  border: 1px solid #376CF4;
}
.card-dev-main .dev-unique-set {
  margin-top: -267px;
  z-index: 2;
  position: relative;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .card-dev-main .dev-unique-set {
    margin-top: -186px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .card-dev-main .dev-unique-set {
    margin-top: -166px;
  }
}
@media screen and (max-width: 767px) {
  .card-dev-main .dev-unique-set {
    margin-top: 0;
  }
}
.card-dev-main .dev-unique-set img {
  width: 100%;
}

.delivery-main {
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  .delivery-main {
    margin-top: 40px;
  }
}
.delivery-main h2 {
  text-align: center;
}
.delivery-main .owl-client-slider {
  margin-top: 40px;
}
.delivery-main .owl-client-slider .appreciation-text {
  display: flex;
  align-items: center;
}
.delivery-main .owl-client-slider .appreciation-text .client-img-delivery {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.delivery-main .owl-client-slider .appreciation-text .appreciation-text-sub {
  padding: 30px;
  background-color: #376CF4;
  color: #fff;
  height: 250px;
}
.delivery-main .owl-client-slider .appreciation-text .appreciation-text-sub .client-company-logo {
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 20px;
}
.delivery-main .owl-client-slider .appreciation-text .appreciation-text-sub h5 {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.customized-main {
  background-color: #252525;
  margin-top: 60px;
  padding-top: 60px;
}
@media screen and (max-width: 767px) {
  .customized-main {
    margin-top: 40px;
    padding-top: 40px;
  }
}
.customized-main .custom-card-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 370px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .customized-main .custom-card-img img {
    min-height: 310px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .customized-main .custom-card-img img {
    min-height: 230px;
  }
}
@media screen and (max-width: 767px) {
  .customized-main .custom-card-img img {
    min-height: 300px;
  }
}

.custom-card-img {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(38, 82, 255, 0.8);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.custom-card-img:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.cta-consult {
  padding-top: 230px;
  margin-top: -160px;
  background-color: #000;
}
@media screen and (max-width: 767px) {
  .cta-consult {
    padding-top: 40px;
    margin-top: 0;
  }
}
.cta-consult .container {
  position: relative;
  z-index: 1;
}
.cta-consult .container::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #376CF4;
  z-index: -1;
}
.cta-consult .container .cta-consult-desc {
  height: 100%;
  padding: 60px 40px;
  color: #fff;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cta-consult .container .cta-consult-desc {
    padding: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cta-consult .container .cta-consult-desc {
    padding: 30px 0px;
  }
}
@media screen and (max-width: 767px) {
  .cta-consult .container .cta-consult-desc {
    padding: 20px 0;
  }
}
.cta-consult .container .cta-consult-desc p {
  margin: 30px 0;
}
.cta-consult .container .cta-consult-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 60px 40px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cta-consult .container .cta-consult-img {
    padding: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cta-consult .container .cta-consult-img {
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .cta-consult .container .cta-consult-img {
    padding-bottom: 20px;
  }
}

.building-project-main {
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  .building-project-main {
    margin-top: 40px;
  }
}
.building-project-main .building-project-desc .globe-img {
  text-align: center;
  margin-top: -38px;
}
@media screen and (max-width: 767px) {
  .building-project-main .building-project-desc .globe-img {
    margin-top: 0;
  }
}
.building-project-main .building-project-desc .globe-img img {
  width: 85%;
  -o-object-fit: contain;
     object-fit: contain;
}
.building-project-main .building-project-desc ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -200px;
}
@media screen and (max-width: 767px) {
  .building-project-main .building-project-desc ul {
    margin-top: 0;
    flex-wrap: wrap;
  }
}
.building-project-main .building-project-desc ul li {
  min-width: 170px;
  margin-right: 12px;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .building-project-main .building-project-desc ul li {
    min-width: 120px;
  }
}
@media screen and (max-width: 767px) {
  .building-project-main .building-project-desc ul li {
    margin-bottom: 0;
    margin: 6px;
    min-width: 240px;
  }
}
.building-project-main .building-project-desc ul li:last-child {
  margin: 0;
}
.building-project-main .building-project-desc ul li:hover .project-card-top p {
  color: #376CF4;
}
.building-project-main .building-project-desc ul li:hover .project-card-bottom {
  background-color: #376CF4;
  color: #fff;
}
.building-project-main .building-project-desc ul li:hover .project-card-bottom .arrow-up {
  border-bottom: 10px solid #376CF4;
}
.building-project-main .building-project-desc ul li .project-card-top {
  background-color: #fff;
  padding: 20px;
}
.building-project-main .building-project-desc ul li .project-card-top img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 10px;
}
.building-project-main .building-project-desc ul li .project-card-top p {
  font-weight: 700;
  font-size: 32px !important;
  transition: 0.4s all;
}
.building-project-main .building-project-desc ul li .project-card-bottom {
  background-color: #252525;
  color: #fff;
  padding: 15px;
  position: relative;
  transition: 0.4s all;
}
.building-project-main .building-project-desc ul li .project-card-bottom .arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #252525;
  position: absolute;
  top: -9px;
  left: 24px;
  transition: 0.4s all;
}
.building-project-main .building-project-desc .projects-badge-earn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.building-project-main .building-project-desc .projects-badge-earn img {
  width: 140px;
  height: 140px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 6px;
}
@media screen and (max-width: 767px) {
  .building-project-main .building-project-desc .projects-badge-earn img {
    width: 90px;
    height: 90px;
  }
}

.feature-section {
  margin-top: 50px;
}
.feature-section .feature-accordion {
  background-color: #252525;
  padding: 20px;
}
.feature-section .feature-accordion .panel-group {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 40px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .feature-section .feature-accordion .panel-group {
    padding: 0 10px;
  }
}
@media screen and (max-width: 767px) {
  .feature-section .feature-accordion .panel-group {
    padding: 0;
  }
}
.feature-section .feature-accordion .panel-group .panel .panel-heading .panel-title {
  padding: 15px 0;
  margin: 0;
  color: #A1A1A1;
  font-weight: 400;
  border-bottom: 1px solid #A1A1A1;
  background-color: transparent;
  display: block;
  font-family: "Open Sans", sans-serif;
}
.feature-section .feature-accordion .panel-group .panel .panel-body {
  color: #A1A1A1;
  padding: 20px 0;
}

.trust-main {
  margin-top: 80px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .trust-main {
    margin-top: 40px;
  }
}
.trust-main .slider-logo-group {
  background-color: #fff;
  padding: 50px 20px;
  margin-top: 30px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .trust-main .slider-logo-group {
    padding: 35px 20px;
  }
}
@media screen and (max-width: 767px) {
  .trust-main .slider-logo-group {
    padding: 20px 10px;
  }
}
.trust-main .slider-logo-group .owl-client-logo img {
  width: 85px;
  height: 85px;
  -o-object-fit: contain;
     object-fit: contain;
  filter: grayscale(100%);
  transition: 0.4s all;
  margin: 0 auto;
}
.trust-main .slider-logo-group .owl-client-logo img:hover {
  filter: grayscale(0);
}
.trust-main .slider-logo-group .owl-client-logo .owl-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: -1;
}
.trust-main .slider-logo-group .owl-client-logo .owl-nav button:hover {
  background-color: transparent !important;
}
.trust-main .slider-logo-group .owl-client-logo .owl-nav button img {
  width: 20px;
}

.book-demo {
  background-color: #376CF4;
  padding-top: 200px;
  margin-top: -100px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .book-demo {
    padding-bottom: 30px;
    padding-top: 150px;
  }
}
@media screen and (max-width: 767px) {
  .book-demo {
    padding-top: 90px;
    margin-top: -60px;
  }
  .book-demo .margin-add-mobile {
    margin: 30px 0;
  }
}

.faq-main {
  margin-top: 50px;
  padding-bottom: 50px;
}
.faq-main .faq-accordion {
  margin-top: 40px;
}
.faq-main .faq-accordion .panel-group .panel {
  display: flex;
  border: 1px solid #fff;
  margin-bottom: 20px;
  position: relative;
}
.faq-main .faq-accordion .panel-group .panel:last-child {
  margin: 0;
}
.faq-main .faq-accordion .panel-group .panel .panel-heading a {
    color: #fff !important;
    width: 100%;
    display: block;
    padding: 20px 80px 20px 20px !important;
    background-color: transparent !important;
	position: relative;
    z-index: 1;
}
.faq-main .faq-accordion .panel-group .panel .panel-body {
  padding: 0 80px 20px 20px;
  color: #fff;
}
.faq-main .faq-accordion .panel-group .panel .accordion-icon {
  background-color: #fff;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 0;
}
.faq-main .faq-accordion .panel-group .panel .accordion-icon img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer-services {
  background-color: #252525 !important;
}
@media screen and (max-width: 767px) {
  .footer-services {
    padding-top: 20px !important;
  }
}
.footer-services .social-link {
  list-style: none;
}
.footer-services .footer-services-heading {
  color: #376CF4 !important;
  font-weight: 700 !important;
}
.footer-services .footer-service-desc-show {
  margin-bottom: 10px !important;
}
.footer-services .footer-service-desc-show a:hover {
  color: #fff !important;
}
.footer-services .footer-service-desc-show img {
  width: 25px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 5px;
}
@media screen and (max-width: 767px) {
  .footer-services .services {
    padding-top: 20px !important;
  }
  .footer-services .subscribe {
    padding-top: 20px !important;
  }
}

#mc_embed_signup input.email {
  border-radius: 0px !important;
  background-color: #fff !important;
  border: none !important;
  color: #000 !important;
}
#mc_embed_signup input.email:focus {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}

#mc_embed_signup .button {
  border-radius: 0px !important;
  color: #fff !important;
  background-color: #376CF4 !important;
}

.copyright-services-show {
  background-color: #131313 !important;
  border-top: 2px solid #252525 !important;
  padding: 20px 0 !important;
}
.copyright-services-show p {
  font-size: 14px !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  .copyright-services-show p {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 767px) {
  .copyright-services-show p {
    text-align: center;
    margin-bottom: 10px;
  }
}
.copyright-services-show .privacy-policy {
  width: 100%;
}
.copyright-services-show ul {
  margin: 0 !important;
  justify-content: flex-end !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  .copyright-services-show ul {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 767px) {
  .copyright-services-show ul {
    font-size: 12px;
  }
}
.copyright-services-show ul li a {
  font-size: 14px !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  .copyright-services-show ul li a {
    font-size: 12px !important;
  }
}
.copyright-services-show ul li a:hover {
  color: #fff !important;
}

.client-video-position .owl-client-video {
  margin-top: 50px;
}

.client-video-position .owl-client-video .item {
  text-align: center;
}

.client-video-position .owl-client-video video {
  width: 62%;
  -o-object-fit: contain;
  object-fit: contain;
}
@media screen and (max-width: 767px) {
  .client-video-position .owl-client-video video {
    width: 100%;
  }
}

.ecom-header-service {
  border-bottom: 1px solid #A1A1A1;
  padding-right: 0 !important;
}
.ecom-header-service .sub-header {
  background-color: #376CF4;
  padding: 10px;
}
.ecom-header-service .sub-header .sub-header-desc {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .ecom-header-service .sub-header .sub-header-desc {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.ecom-header-service .sub-header p {
  margin: 0;
  margin-right: 40px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .ecom-header-service .sub-header p {
    margin: 0;
    margin-bottom: 10px;
  }
  .banner-img {
	display: block !important;
	margin-top: 30px;
  }
}
.ecom-header-service .sub-header p img {
  width: 25px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 5px;
}
.ecom-header-service .sub-header p a {
  color: #fff;
  font-size: 14px;
}
.ecom-header-service .navbar {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  padding: 12px 0;
}
@media screen and (max-width: 767px) {
  .ecom-header-service .navbar {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 767px) {
  .ecom-header-service .navbar .navbar-brand img {
    max-width: 150px !important;
  }
}
.ecom-header-service nav ul li .nav-link {
  color: #A1A1A1 !important;
  text-transform: uppercase;
  font-size: 16px !important;
  margin: 0 20px !important;
  padding: 0 !important;
  font-weight: 400;
  font-family: "Open Sans", sans-serif !important;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .ecom-header-service nav ul li .nav-link {
    margin: 0 15px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .ecom-header-service nav ul li .nav-link {
    margin: 5px 0px !important;
  }
}
@media screen and (max-width: 767px) {
  .ecom-header-service nav ul li .nav-link {
    margin: 10px 0px !important;
  }
}
.ecom-header-service nav ul li .nav-link::after {
  display: none !important;
}

.navbar-toggler {
  border: 1px solid #fff;
}
.navbar-toggler span i {
  color: #fff;
  font-size: 30px;
}
@media screen and (max-width: 767px) {
  .navbar-toggler span i {
    font-size: 24px;
  }
}

.common-modal-ecom-landing {
  padding-right: 0 !important;
}
.common-modal-ecom-landing .modal-body {
  background-color: #252525;
  padding: 0;
}
.side-bg-landing-blue {
  background-image: url("../images/landing-page/modal-sidebar-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.side-bg-landing-blue .logo {
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 30px;
}
.side-bg-landing-blue ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 25px 0;
  margin: 0;
  background-color: #000;
  width: 90%;
  margin-bottom: 15px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .side-bg-landing-blue ul {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .side-bg-landing-blue ul {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .side-bg-landing-blue ul {
    width: 100%;
  }
}
.side-bg-landing-blue ul li {
  border-right: 1px solid #fff;
  text-align: center;
  color: #fff;
  min-width: 140px;
}
.stick-schedule-call .side-bg-landing-blue ul li{
	min-width: 125px;
}

@media (min-width: 992px) and (max-width: 1200px) {
 .side-bg-landing-blue ul li {
    min-width: auto;
    width: 100%;
    padding: 0 5px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .side-bg-landing-blue ul li {
    min-width: auto;
    width: 100%;
    padding: 0 5px;
  }
}
@media screen and (max-width: 767px) {
  .side-bg-landing-blue ul li {
    min-width: auto;
    width: 100%;
  }
}
.side-bg-landing-blue ul li:last-child {
  border: none;
}
.side-bg-landing-blue ul li img {
  width: 25px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 10px;
}
.side-bg-landing-blue ul li h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
}
.side-bg-landing-blue ul li p {
  font-size: 14px !important;
}
.common-modal-ecom-landing .modal-body .schedule-form {
  margin-top: 0;
}

.modal-open {
  padding-right: 0 !important;
}

.inputBox {
	color: #fff;
}

.inputBox input {
	color: #000;
}

.stick-schedule-call .col-md-6 {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.stick-schedule-call .schedule-form {
	min-height: auto;
    margin-top: 0;
}

.common-modal-ecom-landing .modal-body {
	position: relative;
}

.common-modal-ecom-landing .close {
	position: absolute;
    top: 12px;
    right: 16px;
    z-index: 1;
    background: #fff;
    border-radius: 100px;
    width: 30px;
    height: 30px;
}

.slider-logo-group .owl-stage-outer {
	width: 90%;
    margin: 0 auto;
}

.images-feature {
  display:none;
}

.panel-title:not(.collapsed) {
    background-color: #fff !important;
	padding: 15px !important;
	color: #376CF4 !important;
}


/*# sourceMappingURL=ecom-florida.css.map */