.theme-color {
  color: #ff9630;
}
h2 {
  font-size: 30px !important;
}
.banner-bg {
  background-image: url(../images/landing-page/banner-bg.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 180px 0px 80px 0px;
  @media screen and (max-width: 767px) {
    background-size: cover;
  }
  .badge {
    display: flex;
    flex-direction: column;
    img {
      //   height: 120px;
      //   width: 120px;
      margin-bottom: 20px;
      @media screen and (max-width: 767px) {
        width: 180px;
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }
  }
  h1 {
    color: #fff;
  }
  ul {
    li {
      color: #fff;
      margin-bottom: 10px;
    }
  }
}

.form-outer {
  box-shadow: 0px 0px 40px #0000001a;
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  form {
    padding: 20px;
  }
}
.form-group {
  .form-control {
    border: none;
    border-bottom: 2px solid rgba($color: #000000, $alpha: 0.4);
    border-radius: 0px;
    padding: 0px;
  }
}
.customized-section {
  background-color: #fafafa;
  padding: 40px 0px;
}
.why-us {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  .inner {
    background-color: #fff;
    border: 2px solid rgba($color: #707070, $alpha: 0.3);
    padding: 20px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @media (min-width: 992px) and (max-width: 1200px) {
      margin-right: 10px;
      padding: 20px 10px;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
    }
    svg {
      fill: #000;
    }
    &:hover {
      background-color: #000;
      color: #fff;
      svg {
        fill: #fff;
      }
    }
  }
}

.img-slider {
  height: 60px;
}
.cta {
  background-image: url(../images/landing-page/ctabg.png);
  padding: 40px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  //   margin: 40px 0;
  .right-img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    img {
      height: 100%;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .cta-inner {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    h2 {
      color: #fff;
    }
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.black-btn {
  background-color: #000;
  color: #ffff;
  border: none;

  margin-top: 2px;
  border-radius: 40px;
  padding: 15px 20px;
}
.white-btn {
  background-color: #fff;
  color: #000;
  border: none;

  margin-top: 2px;
  border-radius: 40px;
  padding: 15px 20px;
}
.theme-testimonial {
  background-color: #131313;
  padding: 40px 0px;
  margin-bottom: 0px;
  .heading {
    text-align: center;
    margin-bottom: 20px;
    h3 {
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      background-color: #ff9630;
      border-radius: 25px;
      padding: 12px 25px;
      display: inline-block;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 35px;
      color: #ffffff;
      font-weight: 500;
      span {
        color: #ff9630;
      }
    }
  }
  .theme-testimonial-inner {
    .testi-card {
      background-color: #1c1e1f;
      border-radius: 10px;
      padding: 15px;
      video {
        height: 250px;
        max-height: 250px;
      }
      .card-left {
        min-height: 260px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        @media screen and (max-width: 767px) {
          min-height: auto;
        }
        .company-logo {
          img {
            height: 100px;
            width: auto;
            @media screen and (max-width: 767px) {
              margin: 0 auto;
              margin-bottom: 10px;
            }
          }
        }
        .person-datail {
          display: flex;
          align-items: center;
          @media screen and (max-width: 767px) {
            margin-bottom: 10px;
          }
          .person-img {
            margin-right: 20px;
            img {
              width: 60px;
              height: 60px;
              object-fit: cover;
              border-radius: 100%;
            }
          }
          .person-info {
            h3 {
              font-size: 22px;
              color: #ffffff;
              font-weight: 500;
              line-height: normal;
              margin: 0px;
              padding-bottom: 0;
            }
            span {
              font-size: 11px;
              color: #ffffff;
              font-weight: 400;
            }
          }
        }
      }

      .video-img {
        position: relative;
        img {
          width: 100%;
          object-fit: cover;
          height: 260px;
          min-height: 260px;
          border-radius: 10px;
        }
        a {
          position: absolute;
          color: #fff;
          opacity: 0.5;
          top: 50%;
          left: 50%;
          margin-top: -40px;
          margin-left: -40px;
          i {
            font-size: 80px;
          }
          &:hover {
            opacity: 1;
          }
        }
      }
      .test-content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        p {
          color: 16px;
          color: #fff;
          font-weight: 400;
          margin: 0px;
        }
      }
    }
  }

  //owl-carousel
  .owl-carousel {
    .owl-nav {
      button {
        border: 1px solid #ffffff;
        color: #fff;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        opacity: 0.5;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        span {
          font-size: 30px;
          line-height: 30px;
          margin-top: -9px;
        }
        &:hover,
        &:focus {
          opacity: 1;
          outline: none;
        }
        &.owl-prev {
          left: -20px;
          @media screen and (max-width: 767px) {
            left: -10px;
            top: 40%;
          }
        }
        &.owl-next {
          right: -20px;
          @media screen and (max-width: 767px) {
            right: -10px;
            top: 40%;
          }
        }
      }
    }
  }
}

.lower-form {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  a {
    color: #fff;
    text-decoration: underline;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.successful-projects {
  background-color: rgba($color: #ff9630, $alpha: 0.2);
  padding: 40px 0px;
  h2 {
    text-align: center;
  }
}
.img-custom {
  width: 100%;
  height: 200px;
}
.project-grid__inner {
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.project-grid__inner:hover .overlay {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.project-grid__inner:hover .heading {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.heading {
  text-align: center;
}
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  a {
    display: block;
  }
}
.project-grid__inner:hover .button--orange {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.project-grid {
  margin-bottom: 30px;
}
.project-grid .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);
  opacity: 0;
}

.project-grid .button--orange {
  //   position: absolute;
  margin-top: 20px;
  //   top: 50%;
  //   left: 50%;
  //   -webkit-transform: translate(-50%, -50%);
  //   transform: translate(-50%, -50%);
  width: 150px;
  background-color: #fff;
  color: #000000;
  opacity: 0;
}

.project-grid p {
  padding-top: 15px;
}

.center-item {
  margin: 0 auto;
}

.card {
  margin-bottom: 20px;
  h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0px;
  }
}
.collapse-btn-custom {
  color: #000000;
}
.btn-link {
  &:focus,
  &:hover {
    text-decoration: none;
  }
  &:hover {
    color: #000;
  }
}
.development-sol {
  .sol-img {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
  }
  .sol {
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    color: #fff;
    &.sol-01 {
      background-color: #ff9630;
    }
    &.sol-02 {
      background-color: #a54d16;
    }
    &.sol-03 {
      background-color: #3bbd91;
    }
    &.sol-04 {
      background-color: #096cd2;
    }
    &.sol-05 {
      background-color: #99cf14;
    }
    &.sol-06 {
      background-color: #2f99da;
    }
    .inner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    .no {
      font-size: 32px;
      &:after {
        position: absolute;
        content: "";
        height: 2px;
        bottom: -4px;

        right: 19px;
        top: 67px;
        width: 40px;
        background: #fff;
      }
    }
  }
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  position: absolute;
  right: -50px;
  top: 20px;
  z-index: 99;
  @media screen and (max-width: 767px) {
    display: none;
  }
  &.sol-01-arrow {
    border-left: 50px solid #ff9630;
  }
  &.sol-02-arrow {
    border-left: 50px solid #a54d16;
  }
  &.sol-05-arrow {
    border-left: 50px solid #99cf14;
  }
  &.sol-06-arrow {
    border-left: 50px solid #2f99da;
  }
}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  position: absolute;
  left: -50px;
  bottom: 20px;
  @media screen and (max-width: 767px) {
    display: none;
  }
  &.sol-03-arrow {
    border-right: 50px solid #3bbd91;
  }
  &.sol-04-arrow {
    border-right: 50px solid #096cd2;
  }
}

.get-in-touch {
  background: url(../images/landing-page/getin-touch.png);
  background-size: 100% 100%;
  padding: 40px;
  color: #fff;
  @media screen and (max-width: 767px) {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 20px;
  }
}

.blog-card {
  padding: 20px;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 16px;
  @media screen and (max-width: 767px) {
    flex-flow: column;
  }
  a {
    text-decoration: underline;
    &:hover {
      color: #ff9630;
    }
  }
  .blog-img {
    height: 150px;
    width: 200px !important;
    object-fit: contain;
    object-position: center;
    margin-right: 20px;
    @media screen and (max-width: 767px) {
      margin-right: 0;
      width: 100% !important;
    }
  }
}
.blog-carousel {
  .owl-carousel {
    .owl-nav {
      button {
        border: 1px solid #0000003b;
        color: #0000003b;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        opacity: 0.5;
        position: absolute;
        top: 40%;
        margin-top: -15px;
        span {
          font-size: 30px;
          line-height: 30px;
          margin-top: -8px;
        }
        &:hover,
        &:focus {
          opacity: 1;
          outline: none;
        }
        &.owl-prev {
          left: -40px;
          @media screen and (max-width: 767px) {
            left: -10px;
            background-color: #fff;
          }
          @media (min-width: 768px) and (max-width: 991px) {
            display: none;
          }
        }
        &.owl-next {
          right: -40px;
          @media screen and (max-width: 767px) {
            right: -10px;
            background-color: #fff;
          }
          @media (min-width: 768px) and (max-width: 991px) {
            display: none;
          }
        }
      }
    }
  }
}

.clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

//dream-project-section
.dream-project-section {
  padding: 40px 0px;
  .heading {
    text-align: center;
    margin-bottom: 20px;
    // h2 {
    //   // font-size: 35px;
    //   // color: #ffffff;
    //   font-weight: 500;
    //   span {
    //     color: #ff9630;
    //   }
    // }
    p {
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      margin: 0px;
    }
  }
  .section-inner {
    .owl-item {
      .project-info-card {
        box-shadow: 0px 0px 10px #00000029;
        padding: 30px 25px;
        text-align: center;
        border: 1px solid #00000029;
        background-color: #fff;
        min-height: 350px;
        @media (min-width: 992px) and (max-width: 1200px) {
          min-height: 386px;
        }
        .icon-img {
          svg {
            width: 50px;
            min-width: 50px;
          }
        }
        .name {
          h3 {
            font-size: 18px;
            font-weight: bold;
            line-height: normal;
            position: relative;
            padding-bottom: 15px;
            margin-bottom: 20px;
            &:before {
              content: "";
              position: absolute;
              background-color: #fbbc05;
              width: 50px;
              height: 2px;
              bottom: 0;
              left: 50%;
              margin-left: -25px;
            }

            &:after {
              content: "";
              position: absolute;
              background-color: #fff;
              width: 10px;
              height: 2px;
              bottom: 0;
              left: 50%;
              margin-left: -14px;
            }
          }
        }
        .info {
          p {
            color: #000000;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
          }
        }
      }

      &:nth-child(1) {
        .project-info-card {
          .icon-img {
            svg {
              fill: #fbbc05;
            }
          }
          .name {
            h3 {
              color: #fbbc05;
              &:before {
                background-color: #fbbc05;
              }
            }
          }
        }
      }

      &:nth-child(2) {
        .project-info-card {
          .icon-img {
            svg {
              fill: #096cd2;
            }
          }
          .name {
            h3 {
              color: #096cd2;
              &:before {
                background-color: #096cd2;
              }
            }
          }
        }
      }

      &:nth-child(3) {
        .project-info-card {
          .icon-img {
            svg {
              fill: #3bbd91;
            }
          }
          .name {
            h3 {
              color: #3bbd91;
              &:before {
                background-color: #3bbd91;
              }
            }
          }
        }
      }
      &:nth-child(4) {
        .project-info-card {
          .icon-img {
            svg {
              fill: #2f99da;
            }
          }
          .name {
            h3 {
              color: #2f99da;
              &:before {
                background-color: #2f99da;
              }
            }
          }
        }
      }
      &:nth-child(5) {
        .project-info-card {
          .icon-img {
            svg {
              fill: #99cf14;
            }
          }
          .name {
            h3 {
              color: #99cf14;
              &:before {
                background-color: #99cf14;
              }
            }
          }
        }
      }
      &:nth-child(6) {
        .project-info-card {
          .icon-img {
            svg {
              fill: #a54d16;
            }
          }
          .name {
            h3 {
              color: #a54d16;
              &:before {
                background-color: #a54d16;
              }
            }
          }
        }
      }
      &:nth-child(7) {
        .project-info-card {
          .icon-img {
            svg {
              fill: #d83127;
            }
          }
          .name {
            h3 {
              color: #d83127;
              &:before {
                background-color: #d83127;
              }
            }
          }
        }
      }

      &:hover {
        .project-info-card {
          background-color: #ff9630;
          .icon-img {
            svg {
              fill: #fff;
            }
          }
          .name {
            h3 {
              color: #fff;
              &:before {
                content: "";
                position: absolute;
                background-color: #fff;
                width: 50px;
                height: 2px;
                bottom: 0;
                left: 50%;
                margin-left: -25px;
              }

              &:after {
                content: "";
                position: absolute;
                background-color: #ff9630;
                width: 10px;
                height: 2px;
                bottom: 0;
                left: 50%;
                margin-left: -14px;
              }
            }
          }
          .info {
            p {
              color: #fff;
            }
          }
        }
      }
    }
  }

  //owl-carousel
  .owl-carousel {
    .owl-nav {
      button {
        border: 1px solid rgba(#000000, $alpha: 0.5);
        color: rgba(#000000, $alpha: 0.5);
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        opacity: 0.5;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        span {
          font-size: 30px;
          line-height: 30px;
          margin-top: -9px;
        }
        &:hover,
        &:focus {
          opacity: 1;
          outline: none;
        }
        &.owl-prev {
          left: -20px;
          background-color: #fff;
          @media screen and (max-width: 767px) {
            left: -10px;
          }
        }
        &.owl-next {
          right: -20px;
          background-color: #fff;
          @media screen and (max-width: 767px) {
            right: -10px;
          }
        }
      }
    }
  }
}

.req-quote {
  position: relative;
  z-index: 50;
  a {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    padding: 14px 16px;
    background-color: #ff9630;
    color: #fff;
    border-radius: 10px 10px 0 0;
    position: fixed;
    transform: rotate(-90deg);
    right: -42px;
    top: 50%;
    @media screen and (max-width: 767px) {
      right: -42px;
      font-size: 14px;
      padding-top: 8px;
    }
  }
}

@media screen and (max-width: 767px) {
  .getquote-nav-section {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .getquote-nav-section {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .captcha {
    width: 100% !important;
    margin-left: 2px !important;
  }
}

.customized-section-inner {
  strong {
    font-family: Roboto-bold !important;
  }
}

.button-cta {
  a {
    display: contents;
  }
}

@media screen and (max-width: 767px) {
  .card-header {
    padding: 10px 5px;
    button {
      text-align: left;
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 30px !important;
  }

  .img-custom {
    object-fit: cover;
  }
}

@media screen and (max-width: 767px) {
  #about-ref {
    h2 {
      margin-top: 20px;
    }
  }

  body .navbar-nav .nav-link {
    padding: 10px 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body .navbar-nav .nav-link {
    padding: 10px 0px;
  }

  .banner-bg {
    background-size: cover;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .getquote-nav-section {
    display: none;
  }

  .cta .cta-inner h2 {
    font-size: 22px !important;
  }

  .footer {
    padding-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer {
    padding-top: 30px !important;
  }

  .card-header button {
    text-align: left;
  }

  .cta .right-img {
    display: none;
  }

  .captcha {
    width: 100% !important;
  }

  .why-us {
    flex-wrap: wrap;
    justify-content: flex-start;
    .inner {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}

.footer {
  padding-top: 50px;
}
